@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniBlazor
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniNavItemBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<button 
    @onclick="@Callback"
    class="@ContainerClasses cursor-pointer">
    <InfiniNavItem Text="@Text" Icon="@Icon" Class="@Class">
        @ChildContent
    </InfiniNavItem>
</button>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public EventCallback<MouseEventArgs> OnClick  { get; set; }
    
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task Callback() {
        SubMenuContext?.OnSubItemPressed?.Invoke();
        await OnClick.InvokeAsync();
    }
}

