@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniBlazor.Markdown.EditorTools
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniMdEditorToolBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<span class="text-infini-base-30">@NodeCount nodes</span>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private int NodeCount { get; set; }
    
    // -----------------------------------------------------------------------------------------------------------------
    // Component lifetime Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        await OnSyntaxTreeUpdateAsync();
        EditorContext.OnSyntaxTreeChangedAsync += OnSyntaxTreeUpdateAsync;
    }

    public override async ValueTask DisposeAsync() {
        await base.DisposeAsync();
        EditorContext.OnSyntaxTreeChangedAsync -= OnSyntaxTreeUpdateAsync;
    }

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnSyntaxTreeUpdateAsync() {
        NodeCount = EditorContext.SyntaxTree.GetCount();
        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }
}