@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniBlazor.JsRuntime
@using InfiniBlazor.Markdown.Parsers.Blazor
@using InfiniBlazor.Markdown.Syntax
@using InfiniBlazor.TextEditor

@namespace InfiniBlazor.Markdown
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase

@inject IMarkdownParser Parser
@inject IInfiniBlazorJs InfiniBlazorJs
@inject ITextEditor TextEditor
@* @inject ILogger<InfiniMarkdownEditor> Logger *@
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<CascadingValue Value="@EditorContext">
    <CascadingValue Value="@RenderContext">
            <div
                class="@Class grid grid-rows-[1fr_1fr_auto] grid-cols-[auto_1fr] md:grid-rows-[auto_1fr_auto] md:grid-cols-2 gap-0 h-full">
                @* Toolbar Top *@
                <div class="col-span-1 row-span-2 md:col-span-2 md:row-span-1">
                    <div class="flex flex-col flex-nowrap md:flex-row md:flex-wrap gap-2 items-center w-full overload-bg-infini-base-90 rounded-l-lg md:rounded-t-lg">
                        @if (ToolbarTop is null) {
                            <InfiniMdEditorToolbarDefault/>
                        }
                        else {
                            @ToolbarTop
                        }
                    </div>
                </div>

                @* Content *@
                @switch (EditorContext.ShowInput, EditorContext.ShowPreview) {
                    case (true, true): {
                        <InfiniMdEditorInput Class="col-start-2 col-end-2 md:col-start-1 md:col-end-1 border-1"/>
                        <InfiniMdEditorPreview Class="col-start-2 col-end-2 md:col-start-2 md:col-end-2 border-y border-r"/>
                        break;
                    }

                    case (true, false): {
                        <InfiniMdEditorInput Class="col-start-2 col-end-2 md:col-span-2 border-1"/>
                        break;
                    }

                    case (false, true): {
                        <InfiniMdEditorPreview Class="col-start-2 col-end-2 md:col-span-2 border-1"/>
                        break;
                    }
                    
                    default : {
                        <div class="col-start-2 col-end-2 md:col-span-2 flex justify-center items-center text-center text-infini-base-20 bg-stripes bg-stripes-infini-base-60 border-1">
                            Nothing to show here.<br/>
                            You should not see this unless the developer messed up the layout.
                        </div>
                        break;
                    }
                }
                
                @* Toolbar Bottom *@
                @if (ToolbarBottom is not null) {
                    <div class="col-span-2 min-h-lh overload-bg-infini-base-80 rounded-b-md flex gap-2 justify-end w-full px-1">
                        @ToolbarBottom
                    </div>
                }
            </div>
    </CascadingValue>
</CascadingValue>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public MdEditorContext EditorContext { get; set; } = new();
    [Parameter] public EventCallback<MdEditorContext> EditorContextChanged  { get; set; }
    
    [Parameter] public MdRenderContext RenderContext { get; set; } = new();
    [Parameter] public EventCallback<MdRenderContext> RenderContextChanged  { get; set; }
    
    [Parameter] public RenderFragment? ToolbarTop { get; set; }
    [Parameter] public RenderFragment? ToolbarBottom { get; set; }
    
    private InfiniEditorKeyCombo LastPressedCombo { get; set; } = InfiniEditorKeyCombo.Empty;

    private Dictionary<InfiniEditorKeyCombo, Func<InfiniMarkdownEditor, Task>> KeyCombos { get; } = new() {
        [InfiniEditorKeyCombo.Bold] = static editor => editor.OnModifierActivatedAsync("bold"),
        [InfiniEditorKeyCombo.Italic] = static editor => editor.OnModifierActivatedAsync("italic"),
        [InfiniEditorKeyCombo.Underline] = static editor => editor.OnModifierActivatedAsync("underline"),
        [InfiniEditorKeyCombo.SelectAll] = static editor => editor.HandleSelectAllAsync(),
        [InfiniEditorKeyCombo.Tab] = static editor => editor.OnInsertActivatedAsync("    ")
    };
    
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override void OnInitialized() {
        base.OnInitialized();

        RenderContext.OnSyntaxNodeChanged += OnSyntaxNodeChangedAsync;
        EditorContext.OnSourceChangedAsync += OnSourceChangedAsync;
        EditorContext.OnInputKeyDownAsync += OnInputKeyDownAsync;
        EditorContext.OnModifierActionAsync += OnModifierActivatedAsync;
        EditorContext.OnInsertActionAsync += OnInsertActivatedAsync;
    }

    protected override async Task OnParametersSetAsync() {
        await base.OnParametersSetAsync();

        MdSyntaxTreePool.Shared.Return(EditorContext.SyntaxTree);
        EditorContext.SyntaxTree = Parser.Markdown.SerializeToSyntaxTree(EditorContext.TextSource.Text);
        await EditorContext.InvokeSyntaxTreeChangeAsync();
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender) {
            // Only add the "prevent default listener" once.
            await InfiniBlazorJs.KeyDownListener.AddPreventDefaultListenerAsync();
            return;
        } 

        // place the caret in a newly requested location
        if (TextEditor.TryGetCaretUpdate(out int index))
            await InfiniBlazorJs.TextSelection.SetIndexAsync(EditorContext.InputElementRef, index);
    }

    public override async ValueTask DisposeAsync() {
        await base.DisposeAsync();

        RenderContext.OnSyntaxNodeChanged -= OnSyntaxNodeChangedAsync;
        EditorContext.OnSourceChangedAsync -= OnSourceChangedAsync;
        EditorContext.OnInputKeyDownAsync -= OnInputKeyDownAsync;
        EditorContext.OnModifierActionAsync -= OnModifierActivatedAsync;
        EditorContext.OnInsertActionAsync -= OnInsertActivatedAsync;
        
        await InfiniBlazorJs.KeyDownListener.RemovePreventDefaultListenerAsync();
    }

    private async Task OnSourceChangedAsync() {
        if (EditorContext.TextSource.IsEmpty) await InfiniBlazorJs.Element.ClearValueAsync(EditorContext.InputElementRef);
        else await InfiniBlazorJs.Element.SetValueSelectionAwareAsync(EditorContext.InputElementRef, EditorContext.TextSource.Text);

        MdSyntaxTreePool.Shared.Return(EditorContext.SyntaxTree);
        EditorContext.SyntaxTree = Parser.Markdown.SerializeToSyntaxTree(EditorContext.TextSource.Text);
        await EditorContext.InvokeSyntaxTreeChangeAsync();

        await EditorContextChanged.InvokeAsync(EditorContext);

        await InvokeAsync(StateHasChanged);
    }

    private async Task OnSyntaxNodeChangedAsync(IMdSyntaxNode _) {
        string newContent = Parser.Markdown.DeserializeToString(EditorContext.SyntaxTree);
        EditorContext.TextSource.UpdateSource(newContent);

        await InfiniBlazorJs.Element.SetValueAsync(EditorContext.InputElementRef, EditorContext.TextSource.Text);
        await EditorContextChanged.InvokeAsync(EditorContext);
        
        await InvokeAsync(StateHasChanged);
    }

    private async Task OnInputKeyDownAsync(KeyboardEventArgs args) {
        InfiniEditorKeyCombo combo = InfiniEditorKeyCombo.From(args);
        if (KeyCombos.TryGetValue(combo, out Func<InfiniMarkdownEditor, Task>? task)) await task(this);

        LastPressedCombo = combo;
        await InvokeAsync(StateHasChanged);
    }

    public async Task OnModifierActivatedAsync(string modifierName) {
        if (EditorContext.IsLocked) return;
        
        Range range = await InfiniBlazorJs.TextSelection.GetRangeAsync(EditorContext.InputElementRef);
        TextEditor.Modify(EditorContext.TextSource, modifierName, range);
            
        await InvokeAsync(StateHasChanged);
            
        await EditorContext.InvokeSourceChangeAsync(EditorContext.TextSource.Text);
    }

    public async Task OnInsertActivatedAsync(string content) {
        if (EditorContext.IsLocked) return;

        Range range = await InfiniBlazorJs.TextSelection.GetRangeAsync(EditorContext.InputElementRef);
        TextEditor.Insert(EditorContext.TextSource, content, range);

        await InvokeAsync(StateHasChanged);
            
        await EditorContext.InvokeSourceChangeAsync(EditorContext.TextSource.Text);
    }

    private async Task HandleSelectAllAsync() {
        if (EditorContext.IsLocked) return;
        if (EditorContext.TextSource.IsEmpty) return;

        // when ctrl+a has been pressed twice, select the full text
        if (LastPressedCombo == InfiniEditorKeyCombo.SelectAll) {
            Range fullRange = new(0, EditorContext.TextSource.Length);
            await InfiniBlazorJs.TextSelection.SetRangeAsync(EditorContext.InputElementRef, fullRange);
            return;
        }

        // when ctrl+a has been pressed only once, select the current line
        int caretIndex = await InfiniBlazorJs.TextSelection.GetStartIndexAsync(EditorContext.InputElementRef);
        if (!TextEditor.TryGetCaretLine(EditorContext.TextSource, caretIndex, out Range lineRange)) return;

        await InfiniBlazorJs.TextSelection.SetRangeAsync(EditorContext.InputElementRef, lineRange);
    }
}