@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using global::InfiniBlazor.AutoDocumentation
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniAutoDocument Id="ComponentTest-SimpleParagraph">
    <p>simple</p>
</InfiniAutoDocument>

<InfiniAutoDocument Id="ComponentTest-NestedParagraph">
    <p>
        <span>nested</span>
    </p>
</InfiniAutoDocument>

@* ReSharper disable once CSharpWarnings::CS8974 *@
<InfiniAutoDocument Id="ComponentTest-Combo">
    <button @onclick="@Click">Something</button>
</InfiniAutoDocument>


@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    // ReSharper disable once MemberCanBePrivate.Global
    [AutoDocument("ComponentTest-Combo")] public static bool Click() {
        return true;
    }
}