@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Markdown.Syntax.Nodes
@using InfiniLore.InfiniBlazor.Markdown.Parsers.Blazor

@namespace InfiniLore.InfiniBlazor.Markdown.MdBlazorComponents
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniBlazorMdComponentBase<FootnoteReferenceMdSyntaxNode>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<sup>
    <a 
        href="#md-footnote-@SyntaxNode.Identifier" 
        class="cursor-pointer text-infini-accent hover:text-infini-accent-light hover:underline"
        onclick="event.preventDefault(); document.getElementById('md-footnote-@SyntaxNode.Identifier')?.scrollIntoView({ behavior: 'smooth' });">
        @SyntaxNode.Identifier
    </a>
</sup>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
}