@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Markdown.Parsers.Blazor
@using InfiniLore.InfiniBlazor.Markdown.Syntax
@using InfiniLore.InfiniBlazor.Markdown.Syntax.Nodes

@namespace InfiniLore.InfiniBlazor.Markdown.MdBlazorComponents
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniBlazorMdComponentBase<WrapperMdSyntaxNode>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<span @attributes="GetAttributes()">
    @RenderChildContent()
</span>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private Dictionary<string, object> GetAttributes() {
        var dict = new Dictionary<string, object>();
        if (SyntaxNode.Modifier is not {} modifier) return dict;
        
        if (modifier.TryGetColor(out string? color)) {
            dict.AddOrUpdate("style", $"color:{color};");
        }
        
        return dict;
    }
}
