@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@Class border-2 border-red-500 flex">
    @* WHY does this work better than onInput ????? https://github.com/dotnet/aspnetcore/issues/39837 *@
    <textarea 
        class="focus:outline-none w-full h-full font-mono overflow-y-auto infini-scrollbar"
        @bind:get="@EditorContext.TextSource.Text"
        @bind:set="@OnInputAsync"
        @bind:event="oninput"
        @ref="@EditorContext.InputElementRef"
        @onkeydown="@OnKeyDownAsync"
    >
    </textarea>
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [CascadingParameter] protected MdEditorContext EditorContext { get; set; } = null!;
    
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnInputAsync(string args) {
        if (EditorContext.IsLocked) return;
        
        await EditorContext.InvokeSourceChangeAsync(args).ConfigureAwait(false);
    }
    
    private async Task OnKeyDownAsync(KeyboardEventArgs args) {
        if (EditorContext.IsLocked) return;
        if (!args.CtrlKey) return; // quick exit to not have to wait on every key press
        
        await EditorContext.InvokeInputKeyDownAsync(args).ConfigureAwait(false);
    }
}