@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using CodeOfChaos.Extensions.Debouncers
@using InfiniLore.InfiniBlazor.Markdown
@using InfiniLore.InfiniBlazor.Markdown.Syntax
@using Microsoft.Extensions.Logging

@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniMdEditorComponentBase
@inject IMarkdownParser Parser
@inject ILogger<InfiniMdEditorContent> Logger
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@Class border-2 border-red-500 flex">
    <textarea 
        class="w-full h-full  overflow-y-auto infini-scrollbar"
        value="@TextAreaValue"
        ref="@EditorContext.ContentRef"
        @oninput="@(args => OnInputAsyncDebounced.InvokeDebouncedAsync(args))"
        @onkeydown="@(args => OnKeyDownAsyncDebounced.InvokeDebouncedAsync(args))"
    >

    </textarea>
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private string? TextAreaValue { get; set; } = string.Empty;
    private ThrottledDebouncer<ChangeEventArgs> OnInputAsyncDebounced { get; set; } = ThrottledDebouncer<ChangeEventArgs>.Empty;
    private Debouncer<KeyboardEventArgs> OnKeyDownAsyncDebounced { get; set; } = Debouncer<KeyboardEventArgs>.Empty;
    
    // -----------------------------------------------------------------------------------------------------------------
    // Component lifetime Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override void OnInitialized() {
        base.OnInitialized();

        OnInputAsyncDebounced = ThrottledDebouncer<ChangeEventArgs>.FromDelegate(OnInputAsync, 100, 300);
        OnKeyDownAsyncDebounced = Debouncer<KeyboardEventArgs>.FromDelegate(OnKeyDownAsync);

        RenderContext.OnSyntaxTreeUpdate += OnSyntaxTreeUpdated;
        EditorContext.OnSourceUpdate += OnSourceUpdated;
    }

    protected override void OnParametersSet() {
        base.OnParametersSet();

        TextAreaValue = EditorContext.TextSource.Text;
    }

    public override async ValueTask DisposeAsync() {
        await base.DisposeAsync();
        
        RenderContext.OnSyntaxTreeUpdate -= OnSyntaxTreeUpdated;
        EditorContext.OnSourceUpdate -= OnSourceUpdated;
    }

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnInputAsync(ChangeEventArgs args) {
        if (EditorContext.IsLocked) return;
        if (args.Value is not string source) return;
        await EditorContext.UpdateSource(source).ConfigureAwait(false);
    }
    
    private Task OnKeyDownAsync(KeyboardEventArgs args) {
        return Task.CompletedTask;
    }
    
    private async Task OnSourceUpdated(string newSource) {
        if (EditorContext.SyntaxTree is MdSyntaxTree oldTree) MdSyntaxTree.Pool.Return(oldTree);
        
        IMdSyntaxTree newTree = Parser.MarkdownString.SerializeToSyntaxTree(newSource);
        EditorContext.SyntaxTree = newTree;

        await EditorContext.InvokeSyntaxTreeUpdated().ConfigureAwait(false);
        await InvokeAsync(StateHasChanged);
    }

    private async Task OnSyntaxTreeUpdated() {
        string newContent = Parser.MarkdownString.DeserializeToString(EditorContext.SyntaxTree);
        EditorContext.TextSource.Text = newContent;
        TextAreaValue = newContent;
        await EditorContext.UpdateSource(newContent).ConfigureAwait(false);
        
        await InvokeAsync(StateHasChanged);
    }
}