@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using CodeOfChaos.Extensions.Debouncers

@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@Class border-2 border-red-500 flex">
    <textarea 
        class="focus:outline-none w-full h-full font-mono overflow-y-auto infini-scrollbar"
        value="@EditorContext.TextSource.Text"
        @ref="@EditorContext.InputElementRef"
        @oninput="@(args => OnInputAsyncDebounced.InvokeDebouncedAsync(args))"
        @onkeydown="@OnKeyDownAsync"
    >
    </textarea>
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [CascadingParameter] protected MdEditorContext EditorContext { get; set; } = null!;
    private ThrottledDebouncer<ChangeEventArgs> OnInputAsyncDebounced { get; set; } = ThrottledDebouncer<ChangeEventArgs>.Empty;

    // -----------------------------------------------------------------------------------------------------------------
    // Component lifetime Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override void OnInitialized() {
        base.OnInitialized();

        OnInputAsyncDebounced = ThrottledDebouncer<ChangeEventArgs>.FromDelegate(OnInputAsync, 100, 300);
    }

    public override async ValueTask DisposeAsync() {
        await base.DisposeAsync();
        
        OnInputAsyncDebounced = ThrottledDebouncer<ChangeEventArgs>.Empty;
    }

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnInputAsync(ChangeEventArgs args) {
        if (EditorContext.IsLocked) return;
        if (args.Value is not string source) return;
        
        await EditorContext.InvokeSourceUpdatedAsync(source).ConfigureAwait(false);
    }
    
    private async Task OnKeyDownAsync(KeyboardEventArgs args) {
        if (EditorContext.IsLocked) return;
        if (!args.CtrlKey) return; // quick exit to not have to wait on every key press
        
        await EditorContext.InvokeInputKeyDownAsync(args);
    }
}