@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Markdown

@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inject ITextEditor TextEditor
@inherits InfiniMdEditorComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="border-2 border-green-500 flex w-full">
    @EditorContext.Output.MarkupPreview
</div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    // -----------------------------------------------------------------------------------------------------------------
    // Component lifetime Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override void OnInitialized() {
        base.OnInitialized();

        EditorContext.OnSourceChange += OnSourceChangedAsync;
    }

    public override async ValueTask DisposeAsync() {
        await base.DisposeAsync();

        EditorContext.OnSourceChange -= OnSourceChangedAsync;
    }


    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnSourceChangedAsync() {
        EditorContext.Output = new MdEditorOutput(null, EditorContext.TextSource.Text, new MarkupString(EditorContext.TextSource.Text));
        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }
}