@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Markdown
@using InfiniLore.InfiniBlazor.Markdown.Parsers.Blazor

@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inject IBlazorMdComponentConverter ComponentConverter
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@Class flex min-h-0">
    <div class="border-2 border-green-500 flex-1 overflow-y-auto infini-scrollbar">
        @ComponentConverter.RenderRootComponents(EditorContext.SyntaxTree.VisitTopLevelNodes())
    </div>
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [CascadingParameter] protected MdEditorContext EditorContext { get; set; } = null!;
    
    // -----------------------------------------------------------------------------------------------------------------
    // Component lifetime Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override void OnInitialized() {
        base.OnInitialized();

        EditorContext.OnSyntaxTreeChangedAsync += OnSourceChangedAsync;
    }

    public override async ValueTask DisposeAsync() {
        await base.DisposeAsync();

        EditorContext.OnSyntaxTreeChangedAsync -= OnSourceChangedAsync;
    }
    
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnSourceChangedAsync() {
        await InvokeAsync(StateHasChanged);
    }
}