@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.TextEditor
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<CascadingValue Value="@EditorContext">
    <div class="mdEditor-container flex w-full flex-col h-full" >
        <div class="mdEditor-toolbarTop"></div>
        <div class="flex flex-row size-full h-full">
            <InfiniMdEditorContent Class="max-w-1/2 min-w-1/2 w-1/2"/>
            <InfiniMdEditorPreview Class="max-w-1/2 min-w-1/2 w-1/2"/>
        </div>
        <div class="mdEditor-toolbarBottom"></div>
    </div>
</CascadingValue>


@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public ITextSource Source { get; set; } = TextSource.Empty;
    private MdEditorContext EditorContext { get; set; } = new();

    protected override void OnParametersSet() {
        base.OnParametersSet();
        EditorContext.SetTextSource(Source);
    }
}