@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@

@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<CascadingValue Value="@EditorContext">
    <div class="mdEditor-container">
        <div class="mdEditor-toolbarTop"></div>
        <div class="mdEditor-content">
            <InfiniMdEditorContent/>
        </div>
        <div class="mdEditor-preview"></div>
        <div class="mdEditor-toolbarBottom"></div>
    </div>s    
</CascadingValue>


@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private MdEditorContext EditorContext { get; set; } = new();
}