@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Markdown
@using InfiniLore.InfiniBlazor.MarkdownParser.Syntax

@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inject  IMdSyntaxParser SyntaxParser
@inherits InfiniMdEditorComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@Class flex min-h-0">
    <div class="border-2 border-green-500 flex-1 overflow-y-auto infini-scrollbar">
        @foreach (var node in Nodes) {
            <DynamicComponent Type="typeof(DynamicMdComponentUnknown)" Parameters="@(new Dictionary<string, object>(){["Node"] = node})"></DynamicComponent>
        }
        
    </div>
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    public IEnumerable<IMdSyntaxNode> Nodes = Enumerable.Empty<IMdSyntaxNode>();
    
    // -----------------------------------------------------------------------------------------------------------------
    // Component lifetime Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override void OnInitialized() {
        base.OnInitialized();

        EditorContext.OnSourceChange += OnSourceChangedAsync;
    }

    public override async ValueTask DisposeAsync() {
        await base.DisposeAsync();

        EditorContext.OnSourceChange -= OnSourceChangedAsync;
    }


    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnSourceChangedAsync() {
        MdSyntaxTree tree = MdSyntaxTree.Pool.Get();
        SyntaxParser.ParseToTree(EditorContext.TextSource.Text, tree);
        
        EditorContext.Output = new MdEditorOutput(
            tree,
            null,
            default
        );

        Nodes = tree.VisitTopLevelNodes();
        
        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }
}