@using JetBrains.Annotations
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@rendermode InteractiveServer
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniSection Class="flex flex-col gap-4">
    <InfiniHeading3>Buttons</InfiniHeading3>

    <div class="flex flex-row gap-4">
        <div>
            <InfiniButton Variant="ButtonVariant.Default">Something</InfiniButton>
            <InfiniButton Variant="ButtonVariant.Primary">Something</InfiniButton>
            <InfiniButton Variant="ButtonVariant.Transparent">Something</InfiniButton>
            <InfiniButton Variant="ButtonVariant.Outline">Something</InfiniButton>
            <InfiniButton Variant="ButtonVariant.Dark">Something</InfiniButton>
            <InfiniButton Variant="ButtonVariant.Light">Something</InfiniButton>
            <InfiniButton Variant="ButtonVariant.Success">Something</InfiniButton>
            <InfiniButton Variant="ButtonVariant.Warning">Something</InfiniButton>
            <InfiniButton Variant="ButtonVariant.Error">Something</InfiniButton>

            <InfiniButton IconName="settings" Variant="ButtonVariant.Default"/>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Primary"/>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent"/>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Outline"/>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Dark"/>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Light"/>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Success"/>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Warning"/>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Error"/>

            <InfiniButton IconName="settings" Variant="ButtonVariant.Default">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Primary">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Outline">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Dark">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Light">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Success">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Warning">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Error">Something</InfiniButton>
        </div>
        
        <div>
            <InfiniButton Disabled="true" Variant="ButtonVariant.Default">Something</InfiniButton>
            <InfiniButton Disabled="true" Variant="ButtonVariant.Primary">Something</InfiniButton>
            <InfiniButton Disabled="true" Variant="ButtonVariant.Transparent">Something</InfiniButton>
            <InfiniButton Disabled="true" Variant="ButtonVariant.Outline">Something</InfiniButton>
            <InfiniButton Disabled="true" Variant="ButtonVariant.Dark">Something</InfiniButton>
            <InfiniButton Disabled="true" Variant="ButtonVariant.Light">Something</InfiniButton>
            <InfiniButton Disabled="true" Variant="ButtonVariant.Success">Something</InfiniButton>
            <InfiniButton Disabled="true" Variant="ButtonVariant.Warning">Something</InfiniButton>
            <InfiniButton Disabled="true" Variant="ButtonVariant.Error">Something</InfiniButton>

            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Default"/>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Primary"/>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Transparent"/>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Outline"/>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Dark"/>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Light"/>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Success"/>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Warning"/>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Error"/>

            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Default">Something</InfiniButton>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Primary">Something</InfiniButton>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Transparent">Something</InfiniButton>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Outline">Something</InfiniButton>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Dark">Something</InfiniButton>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Light">Something</InfiniButton>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Success">Something</InfiniButton>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Warning">Something</InfiniButton>
            <InfiniButton Disabled="true" IconName="settings" Variant="ButtonVariant.Error">Something</InfiniButton>
        </div>

        <div>
            <InfiniButton Href="/html" Variant="ButtonVariant.Default">Something</InfiniButton>
            <InfiniButton Href="/html" Variant="ButtonVariant.Primary">Something</InfiniButton>
            <InfiniButton Href="/html" Variant="ButtonVariant.Transparent">Something</InfiniButton>
            <InfiniButton Href="/html" Variant="ButtonVariant.Outline">Something</InfiniButton>
            <InfiniButton Href="/html" Variant="ButtonVariant.Dark">Something</InfiniButton>
            <InfiniButton Href="/html" Variant="ButtonVariant.Light">Something</InfiniButton>
            <InfiniButton Href="/html" Variant="ButtonVariant.Success">Something</InfiniButton>
            <InfiniButton Href="/html" Variant="ButtonVariant.Warning">Something</InfiniButton>
            <InfiniButton Href="/html" Variant="ButtonVariant.Error">Something</InfiniButton>

            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Default"/>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Primary"/>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Transparent"/>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Outline"/>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Dark"/>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Light"/>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Success"/>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Warning"/>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Error"/>

            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Default">Something</InfiniButton>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Primary">Something</InfiniButton>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Transparent">Something</InfiniButton>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Outline">Something</InfiniButton>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Dark">Something</InfiniButton>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Light">Something</InfiniButton>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Success">Something</InfiniButton>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Warning">Something</InfiniButton>
            <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Error">Something</InfiniButton>
        </div>

        <div>
            <InfiniButton Size="Size.Xxs" IconName="settings" Variant="ButtonVariant.Default">Something</InfiniButton>
            <InfiniButton Size="Size.Xs" IconName="settings" Variant="ButtonVariant.Default">Something</InfiniButton>
            <InfiniButton Size="Size.S" IconName="settings" Variant="ButtonVariant.Default">Something</InfiniButton>
            <InfiniButton Size="Size.M" IconName="settings" Variant="ButtonVariant.Default">Something</InfiniButton>
            <InfiniButton Size="Size.L" IconName="settings" Variant="ButtonVariant.Default">Something</InfiniButton>
            <InfiniButton Size="Size.Xl" IconName="settings" Variant="ButtonVariant.Default">Something</InfiniButton>
            <InfiniButton Size="Size.Xxl" IconName="settings" Variant="ButtonVariant.Default">Something</InfiniButton>
        </div>
    </div>
</InfiniSection>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
}
