@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Debugger
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@rendermode InteractiveServer
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniSection>
    <InfiniHeading2>Spacers Vertical</InfiniHeading2>
    <InfiniSpacer DebugColor="DebugColor.Red" Spacing="Size.Xxs"/>
    <InfiniSpacer DebugColor="DebugColor.Orange" Spacing="Size.Xs"/>
    <InfiniSpacer DebugColor="DebugColor.Yellow" Spacing="Size.S"/>
    <InfiniSpacer DebugColor="DebugColor.Green" Spacing="Size.M"/>
    <InfiniSpacer DebugColor="DebugColor.Cyan" Spacing="Size.L"/>
    <InfiniSpacer DebugColor="DebugColor.Blue" Spacing="Size.Xl"/>
    <InfiniSpacer DebugColor="DebugColor.Purple" Spacing="Size.Xxl"/>
</InfiniSection>

<InfiniSection>
    <InfiniHeading2>Spacers Horizontal</InfiniHeading2>
    <div class="h-12 flex">
        <InfiniSpacerHorizontal DebugColor="DebugColor.Red" Spacing="Size.Xxs"/>
        <InfiniSpacerHorizontal DebugColor="DebugColor.Orange" Spacing="Size.Xs"/>
        <InfiniSpacerHorizontal DebugColor="DebugColor.Yellow" Spacing="Size.S"/>
        <InfiniSpacerHorizontal DebugColor="DebugColor.Green" Spacing="Size.M"/>
        <InfiniSpacerHorizontal DebugColor="DebugColor.Cyan" Spacing="Size.L"/>
        <InfiniSpacerHorizontal DebugColor="DebugColor.Blue" Spacing="Size.Xl"/>
        <InfiniSpacerHorizontal DebugColor="DebugColor.Purple" Spacing="Size.Xxl"/>
        <InfiniSpacerHorizontal DebugColor="DebugColor.Pink" Direction="SpacerDirection.Grow" />
    </div>
</InfiniSection>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    
}
