@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Components.Tags
@using InfiniLore.InfiniBlazor.Markdown.Parsers.Blazor
@using InfiniLore.InfiniBlazor.Markdown.Syntax.Nodes

@namespace InfiniLore.InfiniBlazor.Markdown
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inject IBlazorMdComponentConverter ComponentConverter
@inject IMarkdownParser Parser
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@Class border-(--border) flex min-h-0">
    <div class="flex-1 overflow-y-auto infini-scrollbar">
        @if (!VisualDebugger.IsEnabled()) {
            <CascadingIsDisabled Value="EditorContext.IsNotInteractive()">
                <CascadingValue Value="@TagLinkContext" IsFixed>
                    @ComponentConverter.RenderRootComponents(EditorContext.SyntaxTree.VisitTopLevelNodes())
                    
                    @if (EditorContext.SyntaxTree.TryGetCachedChildrenByType(out IEnumerable<FootnoteDescriptionMdSyntaxNode>? footnoteDescriptions)) {
                        <InfiniMdEditorFootnoteDescriptionWrapper>
                            @ComponentConverter.RenderRootComponentsWithSkipped(footnoteDescriptions)
                        </InfiniMdEditorFootnoteDescriptionWrapper>
                    }
                    
                </CascadingValue>
            </CascadingIsDisabled>

            
        }
        else {
            @* Alaways override IsDisabled and dont use the CascadingValue*@
            <InfiniCodeBlock
                IsDisabled="false"
                Language="MdSyntaxTree"
                Class="h-full text-(--color-red)"
                Content="@Parser.Xml.DeserializeToString(EditorContext.SyntaxTree)"
            />
        }
    </div>
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [CascadingParameter] protected MdEditorContext EditorContext { get; set; } = null!;

    private readonly ITagLinkContext TagLinkContext = SimpleMdTagLinkContext.Shared;

    // -----------------------------------------------------------------------------------------------------------------
    // Component lifetime Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override void OnInitialized() {
        base.OnInitialized();

        EditorContext.OnSyntaxTreeChangedAsync += OnSourceChangedAsync;
    }

    public override async ValueTask DisposeAsync() {
        await base.DisposeAsync();

        // help aaa
        EditorContext.OnSyntaxTreeChangedAsync -= OnSourceChangedAsync;
    }

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnSourceChangedAsync() {
        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }
}