@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Markdown.Parsers.Blazor

@namespace InfiniLore.InfiniBlazor.Markdown
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inject IBlazorMdComponentConverter ComponentConverter
@inject IMarkdownParser Parser
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<CascadingIsDisabled Value="EditorContext.IsNotInteractive()">
    <div class="@Class border-(--border) flex min-h-0">
        <div class="flex-1 overflow-y-auto infini-scrollbar">
            @if (!VisualDebugger.IsEnabled()) {
                @ComponentConverter.RenderRootComponents(EditorContext.SyntaxTree.VisitTopLevelNodes())
            } else {
                <InfiniCodeBlock
                    Language="MdSyntaxTree"
                    Class="h-full text-(--color-red)"
                    Content="@Parser.Xml.DeserializeToString(EditorContext.SyntaxTree)"
                    />
            }
        </div>
    </div>
</CascadingIsDisabled>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [CascadingParameter] protected MdEditorContext EditorContext { get; set; } = null!;

    // -----------------------------------------------------------------------------------------------------------------
    // Component lifetime Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override void OnInitialized() {
        base.OnInitialized();

        EditorContext.OnSyntaxTreeChangedAsync += OnSourceChangedAsync;
    }

    public override async ValueTask DisposeAsync() {
        await base.DisposeAsync();

        // help aaa
        EditorContext.OnSyntaxTreeChangedAsync -= OnSourceChangedAsync;
    }

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnSourceChangedAsync() {
        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }
}