@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Markdown.Syntax.Nodes
@using InfiniLore.InfiniBlazor.Markdown.Parsers.Blazor
@namespace InfiniLore.InfiniBlazor.Components.DynamicMarkdownComponents
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniBlazorMdComponentBase<InfiniLore.InfiniBlazor.Markdown.Syntax.Nodes.ListUnOrderedMdSyntaxNode>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<ul class="list-disc pl-8 my-4">
    @* We only parse the list items here *@
    @foreach (ListItemMdSyntaxNode item in SyntaxNode.GetChildrenByType<ListItemMdSyntaxNode>()) {
        <li class="my-2 [&:has(>input[type=checkbox])]:list-none [&>ul]:mt-2 [&>ol]:mt-2">
            @if (item.IsCheckable) {
                <input 
                    class="form-checkbox h-4 w-4 text-blue-600 rounded focus:ring-blue-500 -ml-6 mr-2 inline-block align-middle" 
                    type="checkbox"
                    disabled 
                    checked="@item.IsChecked"
                >
            }
            @ComponentConverter.RenderChildComponents(item)
        </li>
    }
</ul>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    
}