@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Components.Avatars

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniAvatarBase
@typeparam TUserId
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="relative w-8 h-8">
    @RenderImageComponents()
    @RenderStatusComponents()
</div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [EditorRequired, Parameter] public TUserId? UserId { get; set; }
    [Inject] public IInfiniAvatarDataProvider<TUserId>? StatusProvider { get; set; } = null;
    
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override async Task OnParametersSetAsync() {
        await base.OnParametersSetAsync();
        if (StatusProvider is not null && UserId is not null) {
            AvatarData = await StatusProvider.GetDataAsync(UserId);
        }
    }
}