@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="flex items-center">
    <InfiniButtonOutline
        OnClick="@(async () => await Editor.OnModifierClickAsync(Modifier))"
        Size="Size.S"
        IconName="@IconName"
    >
        @ChildContent
    </InfiniButtonOutline>
</div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [CascadingParameter] public InfiniMarkdownEditor Editor { get; set; } = null!;
    [Parameter] [EditorRequired] public string Modifier { get; set; } = null!;
    [Parameter] public string? IconName { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}