@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniThemeManager/>
<InfiniDialogManager/>

<div class="flex h-screen w-screen">
    @if (Layout.HasFastFlag(NavLayout.BarsPrimary)) {
        <div class="flex h-screen w-full flex-col">
            @Top
            <div class="flex grow w-full flex-row min-h-0 min-w-0">
                @Left
                @BodyComponent
                @Right
            </div>
            @Bottom
        </div>
    }
    else if (Layout.HasFastFlag(NavLayout.SidesPrimary)) {
        @Left
        <div class="flex h-screen w-full flex-col min-w-0">
            @Top
            @BodyComponent
            @Bottom
        </div>
        @Right
    }
    else if (Layout.HasFastFlag(NavLayout.TopPrimary)) {
        <div class="flex h-screen w-full flex-col">
            @Top
            <div class="flex grow w-full flex-row min-h-0">
                @Left
                <div class="flex grow w-full flex-col min-h-0 min-w-0">
                    @BodyComponent
                    @Bottom
                </div>
                @Right
            </div>
        </div>
    }
    else if (Layout.HasFastFlag(NavLayout.BottomPrimary)) {
        <div class="flex h-screen w-full flex-col">
            <div class="flex grow w-full flex-row min-h-0">
                @Left
                <div class="flex grow w-full flex-col min-h-0 min-w-0">
                    @Top
                    @BodyComponent
                </div>
                @Right
            </div>
            @Bottom
        </div>
    }
    else if (Layout.HasFastFlag(NavLayout.LeftPrimary)) {
        @Left
        <div class="flex h-screen w-full flex-col min-w-0">
            @Top
            <div class="flex grow min-w-0 min-h-0">
                @BodyComponent
                @Right
            </div>
            @Bottom
        </div>
    }

    else if (Layout.HasFastFlag(NavLayout.RightPrimary)) {
        <div class="flex h-screen w-full flex-col min-w-0">
            @Top
            <div class="flex grow min-w-0 min-h-0">
                @Left
                @BodyComponent
            </div>
            @Bottom
        </div>
        @Right   
    }
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter] public RenderFragment? Top { get; set; }
    [Parameter] public RenderFragment? Right { get; set; }
    [Parameter] public RenderFragment? Left { get; set; }
    [Parameter] public RenderFragment? Bottom { get; set; }

    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public NavLayout Layout { get; set; } = NavLayout.LeftPrimary;

    // ReSharper disable once UnusedParameter.Local
    private RenderFragment BodyComponent => __builder => {
        <div class="flex flex-col grow relative">
            <InfiniToastManager/>
            @Body
        </div>
    };
}