@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@page "/table"
@using InfiniLore.InfiniBlazor
@rendermode RenderModeProvider.InfiniRenderMode
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniPage Title="Table Example" Class="p-4">
    <InfiniSection Class="mw-full">
        <InfiniHeading1>Table Example</InfiniHeading1>
        
        <InfiniTable TItem="Person" Items="@People">
            <Header>
                <InfiniTableHeader>Name</InfiniTableHeader>
                <InfiniTableHeader>Email</InfiniTableHeader>
                <InfiniTableHeader Alignment="Alignment.Right">Age</InfiniTableHeader>
                <InfiniTableHeader Alignment="Alignment.Right">Actions</InfiniTableHeader>
            </Header>
            <ContentWithIndex Context="box">
                @{
                    Person person = box.Item1;
                    // ReSharper disable once UnusedVariable
                    int index = box.Item2;
                }
                
                <InfiniTableCell>@person.Name</InfiniTableCell>
                <InfiniTableCell>@person.Email</InfiniTableCell>
                <InfiniTableCell Alignment="Alignment.Right">
                    @person.Age years
                </InfiniTableCell>
                <InfiniTableCell Alignment="Alignment.Right">
                    <div class="flex justify-end gap-2">
                        <InfiniButton
                            Disabled="true"
                            Tooltip="Edit Not Available"
                            TooltipAnchor="Anchor.Left">
                            Edit
                        </InfiniButton>
                        <InfiniButton OnClick="() => DeletePerson(person)">Delete</InfiniButton>
                    </div>
                </InfiniTableCell>
            </ContentWithIndex>
        </InfiniTable>
    </InfiniSection>
</InfiniPage>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private Person[] People { get; set; } = {
        new("John Doe", "john@example.com", 30),
        new("Jane Smith", "jane@example.com", 25),
        new("Bob Johnson", "bob@example.com", 35),
        new("Alice Brown", "alice@example.com", 28)
    };

    private void DeletePerson(Person person) {
        People = People.Where(p => p != person).ToArray();
        StateHasChanged();
    }

    private record Person(string Name, string Email, int Age);
}
