@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@page "/"
@rendermode InteractiveAuto
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniPage Title="Home" Class="justify-center items-center">
    <InfiniSection Class="flex flex-col gap-y-4 ">
        <h1 class="flex flex-row w-full justify-center">Hello, world!</h1>

        This is the example project for the InfiniLore Blazor library.
        
        <!-- Anchor element -->
        <div
            class="relative w-24 h-24 bg-blue-500 text-white flex items-center justify-center
            anchor/my-anchor
            "
        >
            Anchor
        </div>
        
        

        <!-- Positioned element using anchor() -->
        <div
            class="absolute w-48 h-20 bg-green-400 text-white flex items-center justify-center
            anchored-bottom-left/my-anchor
            "
        >
            Anchored Box
        </div>
    </InfiniSection>
</InfiniPage>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
