@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ---------------- to your new app.-------------------------------------------------------------------------------------------------- *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<main class="@Class h-screen flex flex-1 overflow-y-auto bgc-(--page-background) text-(--page-text-color) px-4">
    @ChildContent
</main>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
}