@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using Infinilore.InfiniBlazor

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@ConcatClasses(DebugClasses, SpacingClasses)"></div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public virtual Size Spacing { get; set; } = Size.M;
    [Parameter] public virtual SpacerDirection Direction { get; set; } = SpacerDirection.Grow;
    
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private string DebugClasses { get {
        if (!VisualDebugger.IsEnabled()) return string.Empty;

        string stripes = VisualDebugger.GetAsStripes(DebugColor);
        
        return Direction switch {
            SpacerDirection.Grow => stripes,
            SpacerDirection.Horizontal => ConcatClasses(stripes, VisualDebugger.GetAsBorderLeft(DebugColor),VisualDebugger.GetAsBorderRight(DebugColor)),
            SpacerDirection.Vertical => ConcatClasses(stripes, VisualDebugger.GetAsBorderTop(DebugColor), VisualDebugger.GetAsBorderBottom(DebugColor)),
            _ => string.Empty
        };
    }}

    private string SpacingClasses => (Direction, Spacing) switch {
            (SpacerDirection.Grow,_) => "grow flex-auto", 
            
            (SpacerDirection.Vertical, Size.Xxs) => "h-1",
            (SpacerDirection.Vertical, Size.Xs) => "h-2",
            (SpacerDirection.Vertical, Size.S) => "h-4",
            (SpacerDirection.Vertical, Size.M) => "h-8",
            (SpacerDirection.Vertical, Size.L) => "h-12",
            (SpacerDirection.Vertical, Size.Xl) => "h-16",
            (SpacerDirection.Vertical, Size.Xxl) => "h-24",
            
            (SpacerDirection.Horizontal, Size.Xxs) => "w-1",
            (SpacerDirection.Horizontal, Size.Xs) => "w-2",
            (SpacerDirection.Horizontal, Size.S) => "w-4",
            (SpacerDirection.Horizontal, Size.M) => "w-8",
            (SpacerDirection.Horizontal, Size.L) => "w-12",
            (SpacerDirection.Horizontal, Size.Xl) => "w-16",
            (SpacerDirection.Horizontal, Size.Xxl) => "w-24",
            
            _ => "grow flex-auto"
        };
}
