@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@Class flex min-h-0">
    <div class="flex-1 overflow-y-auto infini-scrollbar">
        @if (!VisualDebugger.IsEnabled()) {
            <div class="px-4 max-w-none">
                @EditorState.MarkdownOutput
            </div>
        }
        else {
            <InfiniCodeBlock Class="h-full text-(--color-red)"
                             Content="@PrettifyHtml(MarkdownStringOutput)"/>
        }
    </div>
</div>

