@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@typeparam TItem
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="bg-(--color-base-00) shadow-sm rounded-2xl p-4 border border-(--color-base-10)">
    <table class="w-full">
        <thead>
        <tr class="border-b border-(--color-base-10)">
            @HeaderContent
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Items)
        {
            <tr class="group hover:bg-(--color-base-10) transition">
                @RowTemplate(item)
            </tr>
        }
        </tbody>
    </table>
</div>



@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter]
    public IEnumerable<TItem> Items { get; set; } = Array.Empty<TItem>();

    [Parameter]
    public RenderFragment HeaderContent { get; set; } = null!;

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; } = null!;
}
