@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@typeparam TItem
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="bg-(--color-base-00) shadow-sm rounded-2xl border border-(--color-base-10) h-full flex flex-col">
    <div class="overflow-auto flex-1">
        <table class="w-full">
            <thead class="sticky top-0 bg-(--color-base-00) border-b border-(--color-base-10)">
            <tr>
                @Header
            </tr>
            </thead>
            <tbody>
            @foreach (TItem item in Items) {
                <tr class="group hover:bg-(--color-base-10) transition">
                    @Content(item)
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter]
    public IEnumerable<TItem> Items { get; set; } = Array.Empty<TItem>();

    [Parameter]
    public RenderFragment Header { get; set; } = null!;

    [Parameter]
    public RenderFragment<TItem> Content { get; set; } = null!;
}
