@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div @attributes="OtherAttributes" class="@ExtraCss bg-(--color-base-00) shadow-sm rounded-2xl p-4 border border-(--color-base-10) overflow-auto">
    @ChildContent
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string? ExtraCss => AdditionalAttributes?.TryGetValue("class", out object? userClass) ?? false ? userClass as string : "";
    
    private Dictionary<string, object>? OtherAttributes => AdditionalAttributes?
        .Where(kvp => kvp.Key != "class")
        .ToDictionary(kvp => kvp.Key, kvp => kvp.Value);
}
