@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.Blazor.Markdown
@using InfiniLore.Blazor.Markdown.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@page "/markdown-test"
@rendermode InteractiveServer
@inject IMarkdownParser MarkdownParser
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<MarkdownEditor></MarkdownEditor>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    private string _markdownText = string.Empty;

    private string MarkdownText {
        get => _markdownText;
        set {
            _markdownText = value;
            string editedText = MarkdownParser.Parse(_markdownText);
            MarkdownOutput = new MarkupString($"<p>{editedText}</p>");
        }
    }
    
    private MarkupString MarkdownOutput { get; set; }
}