@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@rendermode InteractiveAuto
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="absolute flex top-0 left-0 w-screen h-screen justify-center items-center transition-all duration-300 text-(--text) @AppearClasses">
    <InfiniSection Class="flex w-3/4 h-3/4 justify-center items-center">
        <InfiniHeading3>InfiniDialogManager</InfiniHeading3>
        <InfiniSpacer/>
        <div class="flex justify-center w-full">
            <InfiniButton OnClick="OnRemove" Text="Remove"/>
        </div>
    </InfiniSection>
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    // private bool HasDialog { get; set; } = false;
    private bool HasDialog { get; set; } = true;

    private string AppearClasses => HasDialog
        ? $"{ZIndex.DialogManager} backdrop-blur-sm bg-black/50 opacity-100 pointer-events-auto"
        : $"{ZIndex.Zero} backdrop-blur-none bg-transparent opacity-0 pointer-events-none";
    
    private void OnRemove() {
        HasDialog = false;
        StateHasChanged();
    }
}