@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@page "/mdtestdata/editor"
@rendermode InteractiveServer

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniPage Title="Test Data Editor" Class="px-4 py-4">
    <div class="grid grid-cols-[2fr_1fr] w-full h-full gap-4">
        <InfiniSection Class="h-full overflow-y-scroll infini-scrollbar">
            <MdTestDataEditorData
                @ref="_editorDataComponent"
                OnSave="@HandleOnSave"/>
        </InfiniSection>
        <InfiniSection Class="h-full" Location="SectionLocation.Right">
            <MdTestDataEditorFileSelector
                @ref="_fileSelectorComponent"
                OnFileSelected="@HandleFileSelected"
                OnTestSelected="@HandleTestSelected"/>
        </InfiniSection>
    </div>
</InfiniPage>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    private MdTestDataEditorData? _editorDataComponent;
    private MdTestDataEditorFileSelector? _fileSelectorComponent;

    private void HandleFileSelected(string fileName) {
        // _selectedFileName = fileName;
        // _selectedTestId = string.Empty;// Clear test selection when file changes

        // Trigger the editor to update
        // StateHasChanged();
    }

    private async Task HandleTestSelected((string fileName, string testId) selection) {
        // Trigger the editor to update and fetch the selected test
        StateHasChanged();

        // Automatically fetch the test data
        if (_editorDataComponent != null) {
            await _editorDataComponent.LoadTestData(selection.fileName, selection.testId);
        }
    }

    private async Task HandleOnSave() {
        // Refresh the file selector to show updated data
        if (_fileSelectorComponent != null) {
            await _fileSelectorComponent.RefreshFileData();
        }

        await InvokeAsync(StateHasChanged);
    }
}

