@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniBlazor.Markdown.Parsers.Blazor
@using InfiniBlazor.Markdown.Syntax
@using InfiniBlazor.Markdown.Syntax.Nodes

@namespace InfiniBlazor.Markdown.MdBlazorComponents
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniBlazorMdComponentBase<WrapperMdSyntaxNode>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<span @attributes="GetAttributes()">
    @RenderChildContent()
</span>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private Dictionary<string, object> GetAttributes() {
        var dict = new Dictionary<string, object>();
        if (SyntaxNode.Modifier is not {} modifier) return dict;

        if (modifier.TryGetColor(out string? color)) {
            if (color is "accent") color = "var(--color-infini-accent)";
            dict.AddOrUpdate(
                "style",
                _ => $"color:{color}",
                (_, oldValue) => $"{oldValue};color:{color}"
            );     
        }

        if (modifier.TryGetStyle(out string? style)) {
            dict.AddOrUpdate(
                "style",
                _ => style,
                (_, oldValue) => $"{oldValue};{style}"
            );       
            
        }

        return dict;
    }
}
