@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniBlazor.Markdown.Syntax.Nodes
@using InfiniBlazor.Markdown.Parsers.Blazor
@using InfiniBlazor.Emotes;

@namespace InfiniBlazor.Markdown.MdBlazorComponents
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniBlazorMdComponentBase<EmoteMdSyntaxNode>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniEmote Name="@SyntaxNode.EmoteKey" OnEmoteNotFound="@OnEmoteNotFound" />
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private RenderFragment OnEmoteNotFound(string name) {
        return @<span class="text-gray-300">:@name:</span>;
    }
}