@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniBlazor.Markdown.Parsers.Blazor
@using InfiniBlazor.Markdown.Syntax.Nodes

@namespace InfiniBlazor.Markdown.MdBlazorComponents
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniBlazorMdComponentBase<UserMdSyntaxNode>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<span class="inline-block overload-bg-infini-base-95 rounded-xl px-1.5 text-infini-accent md-tag md-username-@(SyntaxNode.Content.Replace('/', '-'))">
    @("@")@SyntaxNode.Content
</span>


@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
