@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.MarkdownParser.Syntax.Nodes;

@namespace InfiniLore.InfiniBlazor.Components.DynamicMarkdownComponents
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits DynamicMdComponentBase<LinkMdSyntaxNode>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<a href="@SyntaxNode?.Href" class="text-(--color-accent) hover:text-(--color-accent-light) hover:underline">
    @ComponentConverter.RenderChildComponents(SyntaxNode)
</a>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {

}
