@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.MarkdownParser.Syntax.Nodes;

@namespace InfiniLore.InfiniBlazor.Components.DynamicMarkdownComponents
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits DynamicMdComponentBase<ParagraphMdSyntaxNode>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<p class="@(SyntaxNode.Parent is CalloutBodyMdSyntaxNode ? "my-2" : "my-4") leading-relaxed">
    @RenderChildContent()
</p>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@