@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@page "/"
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
@* <PageTitle>Home</PageTitle> *@

<InfiniPage Class="justify-center items-center">
    <InfiniSection Class="flex flex-col gap-y-4">
        <InfiniHeading3 Class="text-center">Welcome to InfiniLore</InfiniHeading3>
        <div class="w-full text-center">Have fun!</div>
    </InfiniSection>
</InfiniPage>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    
}