@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Toasting

@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inject IToastingProvider ToastingProvider
@implements IDisposable
@rendermode RenderModeProvider.InfiniRenderMode

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@ContainerPositionClass @ZIndex.ToastMessageContainer py-2 absolute inset-0 bg-transparent space-y-2 max-w-xs w-full h-full overflow-y-auto infini-scrollbar-hidden pointer-events-none">
    @foreach (IToastEntry toastEntry in ToastingProvider.GetToastEntries()) {
        <DynamicComponent
            @key="toastEntry.Data.Id" 
            Type="@toastEntry.ComponentType"
            Parameters="@ToastMessageBase.GetAsDynamicParameters(toastEntry.Data)"
        />
    }
</div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public ToastPosition Position { get; set; } = ToastPosition.TopRight;

    private string ContainerPositionClass => Position switch {
        ToastPosition.TopRight => "top-0 right-0 justify-self-end pr-2",
        ToastPosition.TopLeft => "top-0 left-0 justify-self-start pl-2",
        ToastPosition.BottomLeft => "bottom-0 left-0 justify-self-start pl-2",
        _ => "bottom-0 right-0 justify-self-end pr-2"
    };

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override void OnInitialized() {
        ToastingProvider.OnToastPublishedAsync += HandleToastServiceChange;
        ToastingProvider.OnToastUnpublishedAsync += HandleToastServiceChange;
    }

    private async Task HandleToastServiceChange() {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose() {
        ToastingProvider.OnToastPublishedAsync -= HandleToastServiceChange;
        ToastingProvider.OnToastUnpublishedAsync -= HandleToastServiceChange;
    }
}
