@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Markdown

@namespace InfiniLore.InfiniBlazor.Components.DynamicMarkdownComponents
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits DynamicMdComponentBase<IMdSyntaxNode>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<span class="text-red-500 text-sm font-mono">&lt;@(SyntaxNode?.GetType().Name)&gt;</span>
@ComponentConverter.RenderChildComponents(SyntaxNode)
<span class="text-red-500 text-sm font-mono">&lt;/@(SyntaxNode?.GetType().Name)&gt;</span>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    
}
