@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@

<div class="flex h-screen w-screen">
    @if (Layout.HasFastFlag(NavLayout.BarsPrimary)) {
        <div class="flex h-screen w-full flex-col">
            @Top
            <div class="flex grow w-full flex-row min-h-0 min-w-0">
                @Left
                <div class="flex flex-col min-w-0 w-full">
                    @Body
                </div>
                @Right
            </div>
            @Bottom
        </div>
    }
    else if (Layout.HasFastFlag(NavLayout.SidesPrimary)) {
        @Left
        <div class="flex h-screen w-full flex-col min-w-0">
            @Top
            <div class="flex flex-col min-w-0 min-h-0 w-full">
                @Body
            </div>
            @Bottom
        </div>
        @Right
    }
    else if (Layout.HasFastFlag(NavLayout.TopPrimary)) {
        <div class="flex h-screen w-full flex-col">
            @Top
            <div class="flex grow w-full flex-row min-h-0">
                @Left
                <div class="flex grow w-full flex-col min-h-0 min-w-0">
                    @Body
                    @Bottom
                </div>
                @Right
            </div>
        </div>
    }
    else if (Layout.HasFastFlag(NavLayout.BottomPrimary)) {
        <div class="flex h-screen w-full flex-col">
            <div class="flex grow w-full flex-row min-h-0">
                @Left
                <div class="flex grow w-full flex-col min-h-0 min-w-0">
                    @Top
                    @Body
                </div>
                @Right
            </div>
            @Bottom
        </div>
    }
    else if (Layout.HasFastFlag(NavLayout.LeftPrimary)) {
        @Left
        <div class="flex h-screen w-full flex-col min-w-0">
            @Top
            <div class="flex grow min-w-0 min-h-0">
                @Body
                @Right
            </div>
            @Bottom
        </div>
    }

    else if (Layout.HasFastFlag(NavLayout.RightPrimary)) {
        <div class="flex h-screen w-full flex-col min-w-0">
            @Top
            <div class="flex grow min-w-0 min-h-0">
                @Left
                @Body
            </div>
            @Bottom
        </div>
        @Right   
    }
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter] public RenderFragment? Top { get; set; }
    [Parameter] public RenderFragment? Right { get; set; }
    [Parameter] public RenderFragment? Left { get; set; }
    [Parameter] public RenderFragment? Bottom { get; set; }

    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public NavLayout Layout { get; set; } = NavLayout.SidesPrimary;
}