@inherits ComponentBase

<div></div>


@* ReSharper disable UnusedParameter.Local *@
@code {
    public static AutoDocumentTestData GetDefault() {
        return new AutoDocumentTestData(
            GetRenderFragment(),
            """
            <p>Something</p>
            <p>Else</p>
            """
        );
        RenderFragment GetRenderFragment() => __builder => {
            <p>Something</p>
            <p>Else</p>
        };
    }

    public static AutoDocumentTestData GetEmpty() {
        return new AutoDocumentTestData(
            GetRenderFragment(),
            "<p></p>"
        );
        RenderFragment GetRenderFragment() => __builder => {
            <p></p>
        };
    }
}