@* AUTO DOC ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@page "/example/autodocument"
@using global::InfiniBlazor
@using global::InfiniBlazor.AutoDocumentation
@using global::InfiniBlazor.Components

@rendermode InfiniRenderModeProvider.InfiniRenderMode
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniPage Title="AutoDocument" Class="p-4">
    <InfiniSection Class="gap-4 w-full h-full">
        <InfiniHeading3>AutoDocument Test</InfiniHeading3>
        <InfiniAutoDocument Id="something">
            <InfiniButton>Something</InfiniButton>
        </InfiniAutoDocument>
        
        <InfiniAutoDocument Id="baby">
            <InfiniButton IsDisabled OnClick="@DoSomething">Something</InfiniButton>
        </InfiniAutoDocument>
        
        <InfiniAutoDocument Id="test">
            <p>Something</p>
            <p>Something</p>
        </InfiniAutoDocument>
        
        <InfiniAutoDocument Id="beta">
            <p>Something</p>
            <p>Something</p>
        </InfiniAutoDocument>
        
    </InfiniSection>
</InfiniPage>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [AutoDocument("baby")] private bool _test;
    // ReSharper disable once RedundantDefaultMemberInitializer
    [AutoDocument("baby"), Parameter] public bool Test {
        get => _test;
        set => _test = value;
    }

    // ReSharper disable once UnusedMember.Local
    // ReSharper disable once UnusedParameter.Local
    [AutoDocument("test")] private static void DoSomethingTest(MouseEventArgs obj) {
        // Does something
    }


    [AutoDocument("baby")] public class LetsDoATest {
        
    }
    
    [AutoDocument("baby")] public record LetsDoATestRecord {
        
    }
    
    
    [AutoDocument("baby")] public struct LetsDoATestStruct {
        
    }
    
    [AutoDocument("baby")] public record struct LetsDoATestRecordStruct {
        
    }
}
