@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Markdown
@using InfiniLore.InfiniBlazor.Markdown.Syntax.Nodes
@using InfiniLore.InfiniBlazor.Markdown.Parsers.Blazor

@namespace InfiniLore.InfiniBlazor.Components.DynamicMarkdownComponents
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniBlazorMdComponentBase<IMdSyntaxNode>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
@if (SyntaxNode is NewLineMdSyntaxNode) {
    <span class="@GetDepthClass text-sm font-mono">
        &lt;@(SyntaxNodeTypeName)/&gt;
    </span>
}
else {
    <span class="@GetDepthClass text-sm font-mono">
        &lt;@(SyntaxNodeTypeName)#@(SyntaxNode.Depth)&gt;
    </span>
    @ComponentConverter.RenderChildComponents(SyntaxNode)
    <span class="@GetDepthClass text-sm font-mono"> 
        &lt;/@(SyntaxNodeTypeName)#@(SyntaxNode.Depth)&gt;
    </span>

}
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private string SyntaxNodeTypeName => SyntaxNode.Type.Name;
    
    private string GetDepthClass => (SyntaxNode.Depth % 5) switch {
        0 => "text-rose-300",
        1 => "text-sky-300",
        2 => "text-emerald-300", 
        3 => "text-amber-300",
        4 => "text-violet-300",
        _ => "text-slate-300"
    };
}