@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniNavItemBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<button @onclick="OnClick" class="@InfiniNavItem.ContainerClasses">
    <InfiniNavItem Text="@Text" IconName="@IconName" Class="@Class"/>
</button>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public EventCallback<MouseEventArgs> OnClick  { get; set; } 
    [Parameter] public RenderFragment? Text { get; set; }
    [Parameter] public string? IconName { get; set; }
}

