@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@GetSpacing() @GetDebug()"></div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public virtual Spacing Spacing { get; set; } = Spacing.Grow;
    [Parameter] public virtual SpacerDirection Direction { get; set; } = SpacerDirection.Vertical;
    
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected string GetDebug() {
        if (!VisualDebugger.IsEnabled()) return string.Empty;

        string stripes = VisualDebugger.GetAsStripes(DebugColor);
        
        return (Direction, Spacing) switch {
            (_, Spacing.Grow) => stripes,
            (SpacerDirection.Horizontal, _) => $"{stripes} {VisualDebugger.GetAsBorderLeft(DebugColor)} {VisualDebugger.GetAsBorderRight(DebugColor)}",
            (SpacerDirection.Vertical, _) => $"{stripes} {VisualDebugger.GetAsBorderTop(DebugColor)} {VisualDebugger.GetAsBorderBottom(DebugColor)}",
            _ => string.Empty
        };
    }
    
    protected string GetSpacing()
        => (Direction, Spacing) switch {
            (_, Spacing.Grow) => "grow flex-auto", 
            
            (SpacerDirection.Vertical, Spacing.Xxs) => "h-1",
            (SpacerDirection.Vertical, Spacing.Xs) => "h-2",
            (SpacerDirection.Vertical, Spacing.S) => "h-4",
            (SpacerDirection.Vertical, Spacing.M) => "h-8",
            (SpacerDirection.Vertical, Spacing.L) => "h-12",
            (SpacerDirection.Vertical, Spacing.Xl) => "h-16",
            (SpacerDirection.Vertical, Spacing.Xxl) => "h-24",
            
            (SpacerDirection.Horizontal, Spacing.Xxs) => "w-1",
            (SpacerDirection.Horizontal, Spacing.Xs) => "w-2",
            (SpacerDirection.Horizontal, Spacing.S) => "w-4",
            (SpacerDirection.Horizontal, Spacing.M) => "w-8",
            (SpacerDirection.Horizontal, Spacing.L) => "w-12",
            (SpacerDirection.Horizontal, Spacing.Xl) => "w-16",
            (SpacerDirection.Horizontal, Spacing.Xxl) => "w-24",
            _ => throw new ArgumentOutOfRangeException()
        };
}
