@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.JsRuntime
@using InfiniLore.InfiniBlazor.Theming

@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@inject IThemeSelector ThemeSelector
@inject IJsRuntimeHelper JsRuntimeHelper
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniTable Items="ThemeItems" >
    <Header>
        <InfiniTableHeader>Name</InfiniTableHeader>
        <InfiniTableHeader>Value</InfiniTableHeader>
        <InfiniTableHeader>Display (bg - bgc)</InfiniTableHeader>
        <InfiniTableHeader>Actions</InfiniTableHeader>
    </Header>
    <Content Context="item">
        <InfiniTableCell>
            <code>@item.CssVarName</code>
        </InfiniTableCell>
        <InfiniTableCell>
            <code>@item.CssData</code>
        </InfiniTableCell>

        <InfiniTableCell Alignment="right" Class="flex justify-center gap-2">
            <div class="@($"bg-({item.CssVarName})") w-12 h-12 shadow-md flex items-center justify-center leading-none rounded-xl"></div>
            <div class="@($"bgc-({item.CssVarName})") w-12 h-12 shadow-md flex items-center justify-center leading-none rounded-xl"></div>
        </InfiniTableCell>

        <InfiniTableCell Alignment="right" Class="flex justify-center gap-2">
            <InfiniButton OnClick="() => JsRuntimeHelper.CopyToClipboardAsync(item.CssVarName)">Copy Var name</InfiniButton>
            <InfiniButton OnClick="() => JsRuntimeHelper.CopyToClipboardAsync(item.CssData)">Copy Value</InfiniButton>
        </InfiniTableCell>
    </Content>
</InfiniTable>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {

    private ThemeItem[] ThemeItems => GetThemeItems();
    
    private ThemeItem[] GetThemeItems() {
        if (!ThemeSelector.TryGetCurrentTheme(out ITheme? theme)) return [];

        return theme.AsCssVariables()
            .Select(tuple => new ThemeItem(tuple.Item1, tuple.Item2))
            .Where(item => !item.CssVarName.EndsWith("-rgb"))
            .ToArray();
    }

    private record ThemeItem(string CssVarName, string CssData);
}