@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using Microsoft.AspNetCore.Components.Routing
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components.CollapsibleMenu
@inherits ComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<NavLink
    href="@Href"
    class="@($"flex flex-nowrap p-2 items-center rounded hover:bg-gray-700 {(IsMenuCollapsed ? "justify-center" : "justify-start")}")"
>
    <span class="flex flex-nowrap items-center justify-center">
        <!-- Icon -->
        <span class="w-6 h-6 text-(--nav-menu-item-text) group-hover:text-white flex-shrink-0">
            @Icon
        </span>

        <!-- Text with fade effect -->
        <span class="@($"transition-all duration-300 overflow-hidden {(IsMenuCollapsed ? "w-0 opacity-0 whitespace-nowrap" : "ml-2 opacity-100")}")">
            <span class="@($"text-(--nav-menu-item-icon) transition-[word-break] duration-300 delay-300 {(IsMenuCollapsed ? "break-normal" : "break-words")}")">
                @Text
            </span>
        </span>
    </span>
</NavLink>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [CascadingParameter] public bool IsMenuCollapsed { get; set; }
    [Parameter] public required string Href { get; init; }
    [Parameter] public required string LucideIcon { get; init; }

    [Parameter] public RenderFragment? Text { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }
}