@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.Lucide
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components.CollapsibleMenu
@inherits ComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<CascadingValue Value="IsMenuCollapsed">
    <aside class="flex-shrink-0 bg-gray-800 h-full flex flex-col space-y-4">
        <div class="@(IsMenuCollapsed ? ClassClosed : ClassOpen) h-full flex flex-col transition-all duration-300">
            <!-- Top Logo and Hamburger -->
            <div class="flex items-center justify-center h-12 gap-x-4">
                @Header

                <!-- Hamburger Menu -->
                <button
                    class="text-white p-2 rounded hover:bg-gray-700 focus:outline-none justify-center"
                    @onclick="ToggleMenu">
                    <LiMenu/>
                </button>
            </div>

            <!-- Navigation -->
            @if (NavigationMenu is not null) {
                <div class="border-t border-gray-600 flex pb-1">
                    <nav class="flex flex-col grow space-y-2 mt-4">
                        @NavigationMenu
                    </nav>
                </div>
            }
            
            <!-- Profile Section -->
            @if (Footer is not null) {
                <div class="mt-auto border-t border-gray-600 flex pb-1">
                    <div class="flex flex-col grow space-y-2 mt-4">
                        @Footer
                    </div>
                </div>
            }
        </div>
    </aside>
</CascadingValue>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private string ClassOpen => $"{_width} px-4 pt-1";
    private const string ClassClosed = "w-14 p-1";
    private string _width = "w-48";

    [Parameter] public string Width {
        get => _width;
        set {
            if (!value.StartsWith("w-")) {
                _width = $"w-{value}";
            }
            _width = value;
        }
    }
    [Parameter] public bool IsMenuCollapsed { get; set; }

    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? NavigationMenu { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }

    [Parameter] public EventCallback<bool> IsMenuCollapsedChanged { get; set; }

    private async Task ToggleMenu() {
        IsMenuCollapsed = !IsMenuCollapsed;// Toggle the collapsed state
        await IsMenuCollapsedChanged.InvokeAsync(IsMenuCollapsed);// Notify parent component about the change
        await InvokeAsync(StateHasChanged);
    }
}
