@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using Microsoft.AspNetCore.Components.Routing
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components.CollapsibleMenu
@inherits ComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<NavLink
    href="@Href"
    class="@($"flex items-center rounded hover:bg-gray-700 transition-colors duration-300 p-2 {(IsMenuCollapsed ? "justify-center" : "justify-start")}")"
>
    <!-- Icon -->
    <span class="w-6 h-6 text-gray-400 transition-colors duration-300 group-hover:text-white flex-shrink-0">
        @Icon
    </span>

    <!-- Text (hidden in collapsed mode) -->
    <span class="@(!IsMenuCollapsed ? "ml-2 text-white" : "hidden")">
        @Text
    </span>
</NavLink>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [CascadingParameter] public bool IsMenuCollapsed { get; set; }
    [Parameter] public required string Href { get; init; }
    [Parameter] public required string LucideIcon { get; init; }

    [Parameter] public RenderFragment? Text { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }
}