@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@rendermode InteractiveAuto
@using InfiniLore.InfiniBlazor
@inherits InfiniNavBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniBarNav Location="@Location" Size="Size">
    <InfiniNavLink Href="/markdown-dual">
        <Icon>
            <LiSignature/>
        </Icon>
        <Text>Markdown Example</Text>
    </InfiniNavLink>
    
    <InfiniNavLink Href="/table">
        <Text>Table</Text>
    </InfiniNavLink>
    
    <InfiniNavBreak/>
    
    <InfiniNavLink Href="/table">
        <Icon>
            <LiTable/>
        </Icon>
    </InfiniNavLink>
    <InfiniSpacer/>
    
    <InfiniNavBreak/>
    @* User *@
    <InfiniSpacer/>
    
    <InfiniNavUser UserName="InfiniLore" Direction="Direction.RightToLeft">
        <Icon>
            <InfiniUserIcon
                ImageUrl="@_currentUserImage"
                HrefUserProfile="/"/>
        </Icon>
        <AdditionalLinks>
            <button @onclick="SwitchUserImage"
                    class="@(InfiniNavUser.AdditionalLinkClasses)">
                switch
            </button>
            <NavLink href="/"
                     class="@(InfiniNavUser.AdditionalLinkClasses)">
                logout
            </NavLink>
        </AdditionalLinks>
    </InfiniNavUser>
</InfiniBarNav>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private string _currentUserImage = "/icon.png";

    private void SwitchUserImage() {
        _currentUserImage = _currentUserImage == "/icon.png" ? "aaa/icon.png" : "/icon.png";
    }
}