@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using Infinilore.InfiniBlazor
@using InfiniLore.InfiniBlazor.JsRuntime

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@inject IJsRuntimeHelper JsRuntimeHelper
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@Class flex overflow-hidden min-h-0">
    <div
        class="relative bg-(--color-base-70) text-(--color-base-20) text-sm border border-(--border-color) rounded p-4 overflow-auto w-full min-h-0 infini-scrollbar">
        @if (!Language.IsNullOrWhiteSpace()) {
            <div class="mb-2"></div>
            <div class="absolute top-2 left-4 text-xs text-(--color-base-40)">@Language</div>
        }

        @if (EnableCopy) {
            <div class="absolute top-2 right-2">
                <InfiniButton
                    IconName="copy"
                    Variant="ButtonVariant.Transparent"
                    OnClick="CopyToClipboardAsync"
                    Tooltip="Copy to clipboard"
                    TooltipAnchor="@Anchor.Left"/>
            </div>
        }
        <pre class="whitespace-pre m-0 font-mono min-h-0"><code>@Content</code></pre>
    </div>
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public string Content { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> ContentChanged { get; set; }
    [Parameter] public string? Language { get; set; }
    [Parameter] public bool EnableCopy { get; set; } = true;
    [Parameter] public string? Class { get; set; }

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task CopyToClipboardAsync() {
        if (Content.IsNullOrWhiteSpace()) return;
        await JsRuntimeHelper.CopyToClipboardAsync(Content);
    }
}
