@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<button @onclick="OnClick" class="@InfiniSideNavItem.GetContainerClasses()">
    <InfiniSideNavItem Text="@Text" Icon="@Icon"/>
</button>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [CascadingParameter] public bool MenuCollapsed { get; set; }
    
    [Parameter] public EventCallback<MouseEventArgs> OnClick  { get; set; } 
    [Parameter] public RenderFragment? Text { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }
}

