@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports *@
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Components.CollapsibleMenu
@using InfiniLore.InfiniBlazor.Themes
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@rendermode InteractiveServer
@inject IThemeSelector ThemeSelector
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html *@
@* ------------------------------------------------------------------------------------------------------------------ *@
<CollapsibleMenu @bind-IsMenuCollapsed="@IsMenuCollapsed" Width="w-64">
    <Header>
        <a href="/"
           class="@(!IsMenuCollapsed ? "text-1xl font-bold text-white hover:text-gray-300 no-underline" : "hidden")">
            InfiniLore.InfiniBlazor
        </a>
    </Header>

    <NavigationMenu>
        <CollapsibleMenuButton Href="/markdown-dual">
            <Icon> <LiSignature/></Icon>
            <Text>Markdown Example</Text>
        </CollapsibleMenuButton>
        <CollapsibleMenuButton Href="/markdown-rolling">
            <Icon><LiIndentIncrease/></Icon>
            <Text>Rolling Markdown Example</Text>
        </CollapsibleMenuButton>
    </NavigationMenu>

    <Footer>
        <CollapsibleMenuButton Href="https://github.com/InfiniLore/infinilore.infiniblazor">
            <Icon><LiPackage/></Icon>
            <Text>Github</Text>
        </CollapsibleMenuButton>
        <button @onclick="Callback" class="bg-red-600" >TESTING</button>
    </Footer>
</CollapsibleMenu>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code *@
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private string Theme { get; set; } = "light";
    private bool IsMenuCollapsed { get; set; } = false; // Tracks whether the menu is collapsed
    private void Callback() {
        Theme = Theme switch {
            "light" => "dark",
            "dark" => "light",
            _ => Theme
        };
        ThemeSelector.TrySelectTheme(Theme);
    }
}
