@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@ConcatClasses(Class, AnchorClasses) @ZIndex.Tooltip absolute anchored ">
    <div
        class="
            @TriangleClasses
            transform px-3 py-1 infini-bg-(--color-base-90) text-(--color-base-10) text-sm rounded-md transition-opacity duration-200 whitespace-nowrap pointer-events-none drop-shadow-md
        "
    >
        @Content
    </div>
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter, EditorRequired] public string Content { get; set; } = "";
    [Parameter] public Anchor Anchor { get; set; } = Anchor.Center | Anchor.Bottom;
    [Parameter] public ElementReference Target { get; set; }

    private string AnchorClasses => Anchor switch {
        Anchor.Center | Anchor.Bottom => "anchored-bottom-center/anchor-tooltip pt-2",
        Anchor.Left | Anchor.Bottom => "anchored-bottom-left/anchor-tooltip",
        Anchor.Right | Anchor.Bottom => "anchored-bottom-right/anchor-tooltip",
        Anchor.Center | Anchor.Top => "anchored-top-center/anchor-tooltip pb-2",
        Anchor.Left | Anchor.Top => "anchored-top-left/anchor-tooltip",
        Anchor.Right | Anchor.Top => "anchored-top-right/anchor-tooltip",
        Anchor.Left => "anchored-left/anchor-tooltip pr-2",
        Anchor.Right => "anchored-right/anchor-tooltip pl-2",
        _ => "anchored/anchor-tooltip"
    };

    private string TriangleClasses => Anchor switch {
        Anchor.Center | Anchor.Bottom => ConcatClasses(TriangleCommonClasses, "before:-top-1 before:left-1/2 before:-translate-x-1/2"),
        Anchor.Center | Anchor.Top => ConcatClasses(TriangleCommonClasses, "before:-bottom-1 before:left-1/2 before:-translate-x-1/2"),
        Anchor.Left => ConcatClasses(TriangleCommonClasses, "before:-right-1 before:top-1/2 before:-translate-y-1/2"),
        Anchor.Right => ConcatClasses(TriangleCommonClasses, "before:-left-1 before:top-1/2 before:-translate-y-1/2"),
        _ => string.Empty
    };

    private const string TriangleCommonClasses = "before:content-[''] before:absolute before:w-2 before:h-2 before:rotate-45 before:infini-bg-(--color-base-90)";
    public const string AnchorClass = "anchor/anchor-tooltip";
}
