@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@ConcatClasses(Class, AnchorClasses) absolute anchored z-1000 p-2">
    <div
        class="
            @TriangleClasses
            transform px-3 py-1 infini-bg-(--color-base-90) text-(--color-base-10) text-sm rounded-md transition-opacity duration-200 whitespace-nowrap pointer-events-none drop-shadow-md
            before:content-[''] before:absolute before:w-2 before:h-2 before:rotate-45 before:infini-bg-(--color-base-90)
        "
        >
        @Content
    </div>
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter, EditorRequired] public string Content { get; set; } = "";
    [Parameter] public Anchor Anchor { get; set; } = Anchor.Center | Anchor.Bottom;
    [Parameter] public ElementReference Target { get; set; }

    private string AnchorClasses => Anchor switch {
        Anchor.Center | Anchor.Bottom => "anchored-bottom-center/anchor-tooltip",
        Anchor.Left | Anchor.Bottom => "anchored-bottom-left/anchor-tooltip",
        Anchor.Right | Anchor.Bottom => "anchored-bottom-right/anchor-tooltip",
        Anchor.Center | Anchor.Top => "anchored-top-center/anchor-tooltip",
        Anchor.Left | Anchor.Top => "anchored-top-left/anchor-tooltip",
        Anchor.Right | Anchor.Top => "anchored-top-right/anchor-tooltip",
        Anchor.Left => "anchored-left/anchor-tooltip -mt-1.5",
        Anchor.Right => "anchored-right/anchor-tooltip -mt-1.5",
        _ => "anchored/anchor-tooltip"
    };

    private string TriangleClasses => Anchor switch {
        Anchor.Center | Anchor.Bottom => "before:-top-1 before:left-1/2 before:-translate-x-1/2",
        Anchor.Left | Anchor.Bottom => "before:-top-1 before:left-4",
        Anchor.Right | Anchor.Bottom => "before:-top-1 before:right-4",
        Anchor.Center | Anchor.Top => "before:-bottom-1 before:left-1/2 before:-translate-x-1/2",
        Anchor.Left | Anchor.Top => "before:-bottom-1 before:left-4",
        Anchor.Right | Anchor.Top => "before:-bottom-1 before:right-4",
        Anchor.Left => "before:top-3 before:-right-1",
        Anchor.Right => "before:top-3 before:-left-1",
        _ => "before:-top-1 before:left-1/2 before:-translate-x-1/2"
    };

    public const string AnchorClass = "anchor/anchor-tooltip";
}
