@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.Blazor.Services
@using InfiniLore.Lucide
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@implements IAsyncDisposable

@inject IMarkdownParser MarkdownParser
@inject IJsRuntimeHelper JsRuntimeHelper
@inject ITextEditor TextEditor
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="flex h-screen">
    <!-- Editor (Left side, 50%) -->
    <div class="w-1/2 flex flex-col border-r border-gray-300">
        <!-- Toolbar inside the top of the editor -->
        <div class="flex space-x-2 bg-gray-100 px-2 py-1 border-b border-gray-300">
            @foreach (ITextModifier textModifier in TextEditor.Modifiers) {
                <button class="px-2 py-1 bg-blue-500 text-white rounded" @onclick="() => OnModifierClick(textModifier.ModifierName)">
                    <LucideIcon Name="@textModifier.IconName"/>
                </button>
            }
        </div>

        <!-- Textarea -->
        <textarea
            class="flex-grow p-4 border-none focus:outline-none resize-none"
            @ref="_textareaRef"
            @bind="TextEditor.Text"
            @oninput="TextAreaOnChange"
            @onselect="OnTextSelectedAsync"
            @onkeydown="OnKeyDownAsync"
        >
        </textarea>
    </div>

    <!-- Preview (Right side, 50%) -->
    <div class="w-1/2 p-4 overflow-auto">
        <div class="prose max-w-full">
            @MarkdownOutput
        </div>
    </div>
</div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private MarkupString MarkdownOutput { get; set; }

    private ElementReference _textareaRef;
    private int _selectionStart;
    private int _selectionEnd;
    
    private string _lastPressedKey = string.Empty;
    // -----------------------------------------------------------------------------------------------------------------
    // Component Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await base.OnAfterRenderAsync(firstRender);
        if (!firstRender) return; // Only add the "prevent default listener" once.
        
        await JsRuntimeHelper.AddPreventDefaultListenerAsync();
    }

    public async ValueTask DisposeAsync() {
        await JsRuntimeHelper.RemovePreventDefaultListenerAsync();
    }
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private void UpdateMarkdown() {
        MarkdownOutput = new MarkupString(MarkdownParser.Parse(TextEditor.Text));
    }
    
    private void TextAreaOnChange(ChangeEventArgs args) {
        if (args.Value is not string content) return;

        TextEditor.Text = content;
        UpdateMarkdown();
    }

    private void OnModifierClick(string modifierName) {
        TextEditor.Modify(modifierName, GetSelectionRange());
        UpdateMarkdown();
    }

    private async Task OnTextSelectedAsync() {
        (_selectionStart, _selectionEnd) = await JsRuntimeHelper.GetSelectionAsync(_textareaRef);
    }

    private Range GetSelectionRange() => new(_selectionStart, _selectionEnd);

    private async Task OnKeyDownAsync(KeyboardEventArgs obj) {
        if (_lastPressedKey != string.Empty) {
            switch (obj) {
                case { CtrlKey: true, Key: "1" }: {
                    // at the beginning of the current line where the cursor is, place a #
                    break;
                }
            }

            _lastPressedKey = string.Empty;
            return;
        }

        switch (obj) {
            case { CtrlKey: true, Key: "a" or "A" }: {
                await JsRuntimeHelper.SetSelectionRangeAsync(_textareaRef, 0, int.MaxValue);
                break;
            }

            case { CtrlKey: true, Key: "b" }: {
                TextEditor.Modify("bold", GetSelectionRange());
                break;
            }
                
            case { CtrlKey: true, Key: "i" }: {
                TextEditor.Modify("italic", GetSelectionRange());
                break;
            }

            case { CtrlKey: true, Key: "h" }: {
                _lastPressedKey = "h";
                break;
            }
        }
        
        UpdateMarkdown();
    }
}