@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@rendermode InfiniRenderModeProvider.InfiniRenderMode
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="flex flex-row gap-2">
    <div class="flex flex-col gap-2 items-end">
        <InfiniCheckbox IsChecked="true"></InfiniCheckbox>
        <InfiniCheckbox IsChecked="false"></InfiniCheckbox>
        <InfiniCheckbox IsChecked="false" IsDisabled="true"></InfiniCheckbox>

        <InfiniCheckbox Size="Size.Xxs" IsChecked="true"></InfiniCheckbox>
        <InfiniCheckbox Size="Size.Xs" IsChecked="true"></InfiniCheckbox>
        <InfiniCheckbox Size="Size.S" IsChecked="true"></InfiniCheckbox>
        <InfiniCheckbox Size="Size.M" IsChecked="true"></InfiniCheckbox>
        <InfiniCheckbox Size="Size.L" IsChecked="true"></InfiniCheckbox>
        <InfiniCheckbox Size="Size.Xl" IsChecked="true"></InfiniCheckbox>
        <InfiniCheckbox Size="Size.Xxl" IsChecked="true"></InfiniCheckbox>
    </div>
    <div class="flex flex-col gap-2">
        <InfiniRadioButton IsChecked="true"></InfiniRadioButton>
        <InfiniRadioButton IsChecked="false"></InfiniRadioButton>
        <InfiniRadioButton IsChecked="false" IsDisabled="true"></InfiniRadioButton>

        <InfiniRadioButton Size="Size.Xxs" IsChecked="true"></InfiniRadioButton>
        <InfiniRadioButton Size="Size.Xs" IsChecked="true"></InfiniRadioButton>
        <InfiniRadioButton Size="Size.S" IsChecked="true"></InfiniRadioButton>
        <InfiniRadioButton Size="Size.M" IsChecked="true"></InfiniRadioButton>
        <InfiniRadioButton Size="Size.L" IsChecked="true"></InfiniRadioButton>
        <InfiniRadioButton Size="Size.Xl" IsChecked="true"></InfiniRadioButton>
        <InfiniRadioButton Size="Size.Xxl" IsChecked="true"></InfiniRadioButton>
    </div>
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {

}
