@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@rendermode InfiniRenderModeProvider.InfiniRenderMode
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniHeading2>Spacers Vertical</InfiniHeading2>
<InfiniSpacerVertical DebugColor="Color.Red" Spacing="Size.Xxs"/>
<InfiniSpacerVertical DebugColor="Color.Orange" Spacing="Size.Xs"/>
<InfiniSpacerVertical DebugColor="Color.Yellow" Spacing="Size.S"/>
<InfiniSpacerVertical DebugColor="Color.Green" Spacing="Size.M"/>
<InfiniSpacerVertical DebugColor="Color.Cyan" Spacing="Size.L"/>
<InfiniSpacerVertical DebugColor="Color.Blue" Spacing="Size.Xl"/>
<InfiniSpacerVertical DebugColor="Color.Purple" Spacing="Size.Xxl"/>

<InfiniHeading2>Spacers Horizontal</InfiniHeading2>
<div class="h-12 flex">
    <InfiniSpacerHorizontal DebugColor="Color.Red" Spacing="Size.Xxs"/>
    <InfiniSpacerHorizontal DebugColor="Color.Orange" Spacing="Size.Xs"/>
    <InfiniSpacerHorizontal DebugColor="Color.Yellow" Spacing="Size.S"/>
    <InfiniSpacerHorizontal DebugColor="Color.Green" Spacing="Size.M"/>
    <InfiniSpacerHorizontal DebugColor="Color.Cyan" Spacing="Size.L"/>
    <InfiniSpacerHorizontal DebugColor="Color.Blue" Spacing="Size.Xl"/>
    <InfiniSpacerHorizontal DebugColor="Color.Purple" Spacing="Size.Xxl"/>
    <InfiniSpacer DebugColor="Color.Pink" />
</div>
