@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniButtonComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<button @onclick="@OnClickAsync"
        onclick:stopPropagation="@StopPropagation"
        type="button"
        disabled="@IsDisabled"
        class="@(ConcatClasses(Class)) inline-flex items-center justify-center transition-all duration-150 transform overflow-visible"
        >
    @ChildContent
</button>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {

}
