@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniChildlessComponentBase

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<CascadingValue Value="@Context">
    <div class="h-full grid grid-cols-1 grid-rows-[auto_1fr] gap-0">
        <div class="border-b border-(--border) flex space-x-2  overflow-x-auto overflow-y-hidden infini-scrollbar">
            @foreach (string tab in Context.Tabs) {
                <InfiniButton
                    Variant="@(Context.SelectedTabId == tab ? ButtonVariant.TabSelected : ButtonVariant.TabUnSelected)"
                    OnClick="@(() => Context.SelectPage(tab))">
                    @tab
                </InfiniButton>
            }
        </div>
        <div class="w-full h-full border-x border-b rounded-b-md px-1 border-(--border)">
            @ChildContent
        </div>
    </div>
</CascadingValue>


@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    public InfiniTabContainerContext Context { get; set; } = new();
    
    protected override void OnInitialized() {
        base.OnInitialized();
        Context.OnTabRegisterChange += StateHasChanged;
        Context.OnTabSelected += StateHasChanged;
    }

    public override async ValueTask DisposeAsync() {
        await base.DisposeAsync();
        Context.OnTabRegisterChange -= StateHasChanged;
        Context.OnTabSelected -= StateHasChanged;
    }
}
