@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.Lucide

@namespace InfiniBlazor
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniHrefContentComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    // ReSharper disable once UnusedParameter.Local
    protected RenderFragment ButtonContent => __builder => {
        <span class="inline-flex items-center gap-2">
            @if (IconName.IsNotNullOrWhiteSpace()) {
                <LucideIcon Name="@IconName" Class="@ConcatClasses(IconSizeClass, "pointer-events-none")"/>
            }
            @if (Text.IsNotNullOrWhiteSpace()) {
                @Text
            }
            @if (ChildContent is not null) {
                @ChildContent
            }
            @if (IconName.IsNullOrWhiteSpace() && ChildContent is null && Text.IsNullOrWhiteSpace()) {
                <span class="@IconSizeClass"></span>
            }
        </span>
    };
}
