@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniInputBase
@typeparam TId where TId : IEquatable<TId>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniInputLayout Component="@this">
    <InfiniSpacer/>
    <div class="flex flex-col gap-2">
        @foreach (IRadioButtonData<TId> data in Data) {
            <div class="flex flex-row gap-2">
                <InfiniRadioButton
                    IsChecked="@(data.Id.Equals(SelectedId))"
                    IsCheckedChanged="@(async isChecked => await OnSelectionChangeAsync(data.Id, isChecked))"/>
                @if (data.Label.IsNotNullOrWhiteSpace()) {
                    <InfiniLabel>@data.Label</InfiniLabel>
                }
            </div>
        }
    </div>
</InfiniInputLayout>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter] public IEnumerable<IRadioButtonData<TId>> Data { get; set; } = Array.Empty<IRadioButtonData<TId>>();
    [Parameter] public TId? SelectedId { get; set; }
    [Parameter] public EventCallback<TId> SelectedIdChanged { get; set; }

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnSelectionChangeAsync(TId id, bool isChecked) {
        if (IsDisabled) return;
        if (!isChecked) return;

        SelectedId = id;
        await SelectedIdChanged.InvokeAsync(SelectedId);
        StateHasChanged();
    }
}
