@import "tailwindcss";

@theme {
    --animate-fade-in-up: fade-in-up 0.3s ease-out both;
    
    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(0.5rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }   
    }
}

@utility infini-bg-* {
    background: --value([*]); 
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Custom Scrollbar                                                                                                   */
/* ------------------------------------------------------------------------------------------------------------------ */
@utility infini-scrollbar-* {
    --infini-scrollbar-background: --value([*]);
}

@utility infini-scrollbar-left {
    direction: rtl;

    & > * {
        direction: ltr;
    }
}

@utility infini-scrollbar-hidden {
    &::-webkit-scrollbar {
        display: none;
    }
}

/*noinspection CssUnresolvedCustomProperty*/
@utility infini-scrollbar {
    --infini-scrollbar-background: transparent;
    
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
    
    &::-webkit-scrollbar-track{
        background: var(--infini-scrollbar-background);
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--color-base-40);
        border-radius: 8px;
        border: 2px solid var(--color-base-90);
    }
    
    &::-webkit-scrollbar-corner {
        background: var(--color-base-90);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--color-base-20);
    }
    
    &::-webkit-scrollbar-thumb:active {
        background: var(--color-base-20);
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                                                                                    */
/* ------------------------------------------------------------------------------------------------------------------ */
@utility bg-stripes {
    --stripe-color: white;
    --stripe-angle: 45deg;
    
    --strip-scape-1: 5%;
    --strip-scape-2: 45%;
    --strip-scape-3: 55%;
    --strip-scape-4: 95%;

    background-image: linear-gradient(
        var(--stripe-angle),
        var(--stripe-color) var(--strip-scape-1),
        transparent         var(--strip-scape-1),
        transparent         var(--strip-scape-2),
        var(--stripe-color) var(--strip-scape-2),
        var(--stripe-color) var(--strip-scape-3),
        transparent         var(--strip-scape-3),
        transparent         var(--strip-scape-4),
        var(--stripe-color) var(--strip-scape-4)
    );
    background-size: 1rem 1rem;
}

@utility bg-stripes-*  {
    --stripe-color: --value([*]);
}

@utility bg-stripes-direction-* {
    --stripe-angle: --value(number)deg;
}

