@import "tailwindcss";

@theme {
    --animate-fade-in-up: fade-in-up 0.3s ease-out both;
    
    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(0.5rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }   
    }
}

@utility bgc-* {
    background: --value([*]);
}

@utility infini-scrollbar-* {
    background: --value([*]);
}


.infini-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.infini-scrollbar::-webkit-scrollbar-track{
    background: transparent;
}

.infini-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-base-60);
    border-radius: 8px;
    border: 2px solid var(--color-base-90);
}

.infini-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-base-50);
}

.infini-scrollbar::-webkit-scrollbar-corner {
    background: var(--color-base-90);
}

.infini-scrollbar::-webkit-scrollbar-thumb:active {
    background: var(--color-base-40);
}
