@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.Lucide
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniNavItemBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@SizeClass flex justify-center items-center justify-self-center self-center">
    <InfiniButton
        Variant="ButtonVariant.Transparent"
        IconName="@LucideNames.Menu"
        OnClick="@ToggleMenu"
    />
</div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public bool State { get; set; }
    [Parameter] public EventCallback<bool> StateChanged { get; set; }

    private string SizeClass => NavBarSize switch {
        _ => "w-10 min-w-10 h-10 min-h-10"
    };
    
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task ToggleMenu() {
        State = !State;

        await StateChanged.InvokeAsync(State);
        await InvokeAsync(StateHasChanged);
    }
    
    
}
