@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Markdown

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@implements IAsyncDisposable
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="flex flex-col grow flex-1 min-h-0 h-full">
    <!-- Header with toolbar -->
    <div class="flex flex-none">
        <!-- Editor toolbar (Left side) -->
        <div class="w-1/2 flex justify-between items-center bg-white px-4 py-2 border-b border-r border-gray-200 overflow-auto gap-2">
            <!-- Left-Aligned Buttons -->
            <div class="flex space-x-1">
                @foreach (ITextModifier textModifier in textEditor.Modifiers) {
                    <InfiniButton OnClick="() => OnModifierClickAsync(textModifier.ModifierName)"
                                  Variant="ButtonVariant.Transparent"
                                  IconName="@textModifier.IconName"/>
                }
            </div>

            <!-- Right-Aligned Buttons -->
            <div class="flex space-x-2 mb-2">
                <InfiniButton OnClick="DebugLoremAsync">Lorem</InfiniButton>
                <InfiniButton OnClick="DebugTableAsync">Table</InfiniButton>
            </div>
        </div>
        <!-- Preview header (Right side) - Empty but maintains layout -->
        <div class="w-1/2 "></div>
    </div>

    <!-- Main content area -->
    <div class="flex flex-1 min-h-0">
        <!-- Editor content -->
        <div class="w-1/2 border-r border-gray-300 min-h-0">
            <textarea
                class="w-full h-full p-4 border-none focus:outline-none resize-none"
                @ref="_textareaRef"
                @bind-value="Text" @bind-value:event="oninput"
                @onkeydown="OnKeyDownAsync"
            >
            </textarea>
        </div>

        <!-- Preview content -->
        <div class="w-1/2 p-4 overflow-auto min-h-0">
            <div class="prose max-w-full">
                @MarkdownOutput
            </div>
        </div>
    </div>
</div>
