<!DOCTYPE html>
<html lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["Example.InfiniLore.Blazor.styles.css"]"/>
    <link rel="stylesheet" href="_content/InfiniLore.Blazor/InfiniLoreBlazorStyles.css" />

    <ImportMap/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="_content/InfiniLore.Blazor/InfiniLoreBlazor.js"></script>
</body>

</html>