@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits TestContext
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniHeading Size="HeadingSize.H1">Test</InfiniHeading>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private readonly RenderFragment Input = @<InfiniHeading Size="HeadingSize.H1">Test</InfiniHeading>;
    private readonly RenderFragment ExpectedOutput = @<h1 class=" text-6xl font-semibold mb-6">Test</h1>;
}
