@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@rendermode RenderModeProvider.InfiniRenderMode
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniSection Class="gap-4 w-full">
    <InfiniHeading3>Buttons</InfiniHeading3>
    <InfiniHeading5>Variants</InfiniHeading5>
    <div class="relative max-w-full">
        <div class="flex flex-row gap-4 overflow-x-auto infini-scrollbar w-64 sm:w-150 lg:w-full mx-auto">
            <div class="flex flex-col gap-2">
                <InfiniHeading6>Text</InfiniHeading6>
                <InfiniButton>Something</InfiniButton>
                <InfiniButtonPrimary>Something</InfiniButtonPrimary>
                <InfiniButtonTransparent>Something</InfiniButtonTransparent>
                <InfiniButtonOutline>Something</InfiniButtonOutline>
                <InfiniButtonDark>Something</InfiniButtonDark>
                <InfiniButtonLight>Something</InfiniButtonLight>
            </div>

            <div class="flex flex-col gap-2">
                <InfiniHeading6>Icons</InfiniHeading6>
                <InfiniButton IconName="settings"/>
                <InfiniButtonPrimary IconName="settings"/>
                <InfiniButtonTransparent IconName="settings"/>
                <InfiniButtonOutline IconName="settings"/>
                <InfiniButtonDark IconName="settings"/>
                <InfiniButtonLight IconName="settings"/>
            </div>

            <div class="flex flex-col gap-2">
                <InfiniHeading6>Full</InfiniHeading6>
                <InfiniButton Href="/html" IconName="settings">Something</InfiniButton>
                <InfiniButtonPrimary Href="/html" IconName="settings">Something</InfiniButtonPrimary>
                <InfiniButtonTransparent Href="/html" IconName="settings">Something</InfiniButtonTransparent>
                <InfiniButtonOutline Href="/html" IconName="settings">Something</InfiniButtonOutline>
                <InfiniButtonDark Href="/html" IconName="settings">Something</InfiniButtonDark>
                <InfiniButtonLight Href="/html" IconName="settings">Something</InfiniButtonLight>
            </div>

            <div class="flex flex-col gap-2">
                <InfiniHeading6>Empty</InfiniHeading6>
                <InfiniButton/>
                <InfiniButtonPrimary/>
                <InfiniButtonTransparent/>
                <InfiniButtonOutline/>
                <InfiniButtonDark/>
                <InfiniButtonLight/>
            </div>

            <div class="flex flex-col gap-2">
                <InfiniHeading6>Disabled</InfiniHeading6>
                <InfiniButton IsDisabled="true" AutoWidth>Something</InfiniButton>
                <InfiniButton IsDisabled="true" IconName="settings" AutoWidth/>
                <InfiniButton IsDisabled="true" IconName="settings" AutoWidth>Something
                </InfiniButton>
            </div>

            <div class="flex flex-col gap-2">
                <InfiniHeading6>Sizes</InfiniHeading6>
                <InfiniButton Size="Size.Xxs" IconName="settings">Something</InfiniButton>
                <InfiniButton Size="Size.Xs" IconName="settings">Something</InfiniButton>
                <InfiniButton Size="Size.S" IconName="settings">Something</InfiniButton>
                <InfiniButton Size="Size.M" IconName="settings">Something</InfiniButton>
                <InfiniButton Size="Size.L" IconName="settings">Something</InfiniButton>
                <InfiniButton Size="Size.Xl" IconName="settings">Something</InfiniButton>
                <InfiniButton Size="Size.Xxl" IconName="settings">Something</InfiniButton>
            </div>

            <div class="flex flex-col gap-2">
                <InfiniHeading6>Icons</InfiniHeading6>
                <InfiniButton Size="Size.Xxs" IconName="settings"/>
                <InfiniButton Size="Size.Xs" IconName="settings"/>
                <InfiniButton Size="Size.S" IconName="settings"/>
                <InfiniButton Size="Size.M" IconName="settings"/>
                <InfiniButton Size="Size.L" IconName="settings"/>
                <InfiniButton Size="Size.Xl" IconName="settings"/>
                <InfiniButton Size="Size.Xxl" IconName="settings"/>
            </div>
        </div>
    </div>

    <InfiniHeading5>Tooltips</InfiniHeading5>
    <div class="p-8 flex flex-col gap-8 overflow-x-auto infini-scrollbar px-2 justify-center items-center shrink-0">
        <InfiniButtonToolTipped TooltipAnchor="Anchor.Center | Anchor.Bottom">
            <Content>CenterBottom</Content>
            <Tooltip>CenterBottom</Tooltip>
        </InfiniButtonToolTipped>
        <InfiniButtonToolTipped TooltipAnchor="Anchor.Left | Anchor.Bottom">
            <Content>leftBottom</Content>
            <Tooltip>leftBottom</Tooltip>
        </InfiniButtonToolTipped>
        <InfiniButtonToolTipped TooltipAnchor="Anchor.Right | Anchor.Bottom">
            <Content>RightBottom</Content>
            <Tooltip>RightBottom</Tooltip>
        </InfiniButtonToolTipped>
        <InfiniButtonToolTipped TooltipAnchor="Anchor.Center | Anchor.Top">
            <Content>CenterTop</Content>
            <Tooltip>CenterTop</Tooltip>
        </InfiniButtonToolTipped>
        <InfiniButtonToolTipped TooltipAnchor="Anchor.Left | Anchor.Top">
            <Content>LeftTop</Content>
            <Tooltip>LeftTop</Tooltip>
        </InfiniButtonToolTipped>
        <InfiniButtonToolTipped TooltipAnchor="Anchor.Right | Anchor.Top">
            <Content>RightTop</Content>
            <Tooltip>RightTop</Tooltip>
        </InfiniButtonToolTipped>
        <InfiniButtonToolTipped TooltipAnchor="Anchor.Left">
            <Content>Left</Content>
            <Tooltip>Left</Tooltip>
        </InfiniButtonToolTipped>
        <InfiniButtonToolTipped TooltipAnchor="Anchor.Right">
            <Content>Right</Content>
            <Tooltip>Right</Tooltip>
        </InfiniButtonToolTipped>
    </div>

    <InfiniHeading5>Colors</InfiniHeading5>
    <div class="flex flex-row gap-4 overflow-x-auto infini-scrollbar px-2 shrink-0">
        <div class="flex flex-col w-32 gap-2">
            <InfiniHeading6>Default</InfiniHeading6>
            <InfiniButton IconName="settings" Color="Color.Default">Something</InfiniButton>
            <InfiniButton IconName="settings" Color="Color.Accent">Something</InfiniButton>
            <InfiniButton IconName="settings" Color="Color.Red">Something</InfiniButton>
            <InfiniButton IconName="settings" Color="Color.Orange">Something</InfiniButton>
            <InfiniButton IconName="settings" Color="Color.Yellow">Something</InfiniButton>
            <InfiniButton IconName="settings" Color="Color.Green">Something</InfiniButton>
            <InfiniButton IconName="settings" Color="Color.Cyan">Something</InfiniButton>
            <InfiniButton IconName="settings" Color="Color.Blue">Something</InfiniButton>
            <InfiniButton IconName="settings" Color="Color.Purple">Something</InfiniButton>
            <InfiniButton IconName="settings" Color="Color.Pink">Something</InfiniButton>
            <InfiniButton IconName="settings" Color="Color.Gray">Something</InfiniButton>
            <InfiniButton IconName="settings" Color="Color.White">Something</InfiniButton>
            <InfiniButton IconName="settings" Color="Color.Black">Something</InfiniButton>
        </div>

        <div class="flex flex-col w-32 gap-2">
            <InfiniHeading6>Primary</InfiniHeading6>
            <InfiniButtonPrimary IconName="settings" Color="Color.Default">Something</InfiniButtonPrimary>
            <InfiniButtonPrimary IconName="settings" Color="Color.Accent">Something</InfiniButtonPrimary>
            <InfiniButtonPrimary IconName="settings" Color="Color.Red">Something</InfiniButtonPrimary>
            <InfiniButtonPrimary IconName="settings" Color="Color.Orange">Something</InfiniButtonPrimary>
            <InfiniButtonPrimary IconName="settings" Color="Color.Yellow">Something</InfiniButtonPrimary>
            <InfiniButtonPrimary IconName="settings" Color="Color.Green">Something</InfiniButtonPrimary>
            <InfiniButtonPrimary IconName="settings" Color="Color.Cyan">Something</InfiniButtonPrimary>
            <InfiniButtonPrimary IconName="settings" Color="Color.Blue">Something</InfiniButtonPrimary>
            <InfiniButtonPrimary IconName="settings" Color="Color.Purple">Something</InfiniButtonPrimary>
            <InfiniButtonPrimary IconName="settings" Color="Color.Pink">Something</InfiniButtonPrimary>
            <InfiniButtonPrimary IconName="settings" Color="Color.Gray">Something</InfiniButtonPrimary>
            <InfiniButtonPrimary IconName="settings" Color="Color.White">Something</InfiniButtonPrimary>
            <InfiniButtonPrimary IconName="settings" Color="Color.Black">Something</InfiniButtonPrimary>
        </div>

        <div class="flex flex-col w-32 gap-2">
            <InfiniHeading6>Transparent</InfiniHeading6>
            <InfiniButtonTransparent IconName="settings" Color="Color.Default">Something</InfiniButtonTransparent>
            <InfiniButtonTransparent IconName="settings" Color="Color.Accent">Something</InfiniButtonTransparent>
            <InfiniButtonTransparent IconName="settings" Color="Color.Red">Something</InfiniButtonTransparent>
            <InfiniButtonTransparent IconName="settings" Color="Color.Orange">Something</InfiniButtonTransparent>
            <InfiniButtonTransparent IconName="settings" Color="Color.Yellow">Something</InfiniButtonTransparent>
            <InfiniButtonTransparent IconName="settings" Color="Color.Green">Something</InfiniButtonTransparent>
            <InfiniButtonTransparent IconName="settings" Color="Color.Cyan">Something</InfiniButtonTransparent>
            <InfiniButtonTransparent IconName="settings" Color="Color.Blue">Something</InfiniButtonTransparent>
            <InfiniButtonTransparent IconName="settings" Color="Color.Purple">Something</InfiniButtonTransparent>
            <InfiniButtonTransparent IconName="settings" Color="Color.Pink">Something</InfiniButtonTransparent>
            <InfiniButtonTransparent IconName="settings" Color="Color.Gray">Something</InfiniButtonTransparent>
            <InfiniButtonTransparent IconName="settings" Color="Color.White">Something</InfiniButtonTransparent>
            <InfiniButtonTransparent IconName="settings" Color="Color.Black">Something</InfiniButtonTransparent>
        </div>

        <div class="flex flex-col w-32 gap-2">
            <InfiniHeading6>Dark</InfiniHeading6>
            <InfiniButtonDark IconName="settings" Color="Color.Default">Something</InfiniButtonDark>
            <InfiniButtonDark IconName="settings" Color="Color.Accent">Something</InfiniButtonDark>
            <InfiniButtonDark IconName="settings" Color="Color.Red">Something</InfiniButtonDark>
            <InfiniButtonDark IconName="settings" Color="Color.Orange">Something</InfiniButtonDark>
            <InfiniButtonDark IconName="settings" Color="Color.Yellow">Something</InfiniButtonDark>
            <InfiniButtonDark IconName="settings" Color="Color.Green">Something</InfiniButtonDark>
            <InfiniButtonDark IconName="settings" Color="Color.Cyan">Something</InfiniButtonDark>
            <InfiniButtonDark IconName="settings" Color="Color.Blue">Something</InfiniButtonDark>
            <InfiniButtonDark IconName="settings" Color="Color.Purple">Something</InfiniButtonDark>
            <InfiniButtonDark IconName="settings" Color="Color.Pink">Something</InfiniButtonDark>
            <InfiniButtonDark IconName="settings" Color="Color.Gray">Something</InfiniButtonDark>
            <InfiniButtonDark IconName="settings" Color="Color.White">Something</InfiniButtonDark>
            <InfiniButtonDark IconName="settings" Color="Color.Black">Something</InfiniButtonDark>
        </div>

        <div class="flex flex-col w-32 gap-2">
            <InfiniHeading6>Light</InfiniHeading6>
            <InfiniButtonLight IconName="settings" Color="Color.Default">Something</InfiniButtonLight>
            <InfiniButtonLight IconName="settings" Color="Color.Accent">Something</InfiniButtonLight>
            <InfiniButtonLight IconName="settings" Color="Color.Red">Something</InfiniButtonLight>
            <InfiniButtonLight IconName="settings" Color="Color.Orange">Something</InfiniButtonLight>
            <InfiniButtonLight IconName="settings" Color="Color.Yellow">Something</InfiniButtonLight>
            <InfiniButtonLight IconName="settings" Color="Color.Green">Something</InfiniButtonLight>
            <InfiniButtonLight IconName="settings" Color="Color.Cyan">Something</InfiniButtonLight>
            <InfiniButtonLight IconName="settings" Color="Color.Blue">Something</InfiniButtonLight>
            <InfiniButtonLight IconName="settings" Color="Color.Purple">Something</InfiniButtonLight>
            <InfiniButtonLight IconName="settings" Color="Color.Pink">Something</InfiniButtonLight>
            <InfiniButtonLight IconName="settings" Color="Color.Gray">Something</InfiniButtonLight>
            <InfiniButtonLight IconName="settings" Color="Color.White">Something</InfiniButtonLight>
            <InfiniButtonLight IconName="settings" Color="Color.Black">Something</InfiniButtonLight>
        </div>

        <div class="flex flex-col w-32 gap-2">
            <InfiniHeading6>Outline</InfiniHeading6>
            <InfiniButtonOutline IconName="settings" Color="Color.Default">Something</InfiniButtonOutline>
            <InfiniButtonOutline IconName="settings" Color="Color.Accent">Something</InfiniButtonOutline>
            <InfiniButtonOutline IconName="settings" Color="Color.Red">Something</InfiniButtonOutline>
            <InfiniButtonOutline IconName="settings" Color="Color.Orange">Something</InfiniButtonOutline>
            <InfiniButtonOutline IconName="settings" Color="Color.Yellow">Something</InfiniButtonOutline>
            <InfiniButtonOutline IconName="settings" Color="Color.Green">Something</InfiniButtonOutline>
            <InfiniButtonOutline IconName="settings" Color="Color.Cyan">Something</InfiniButtonOutline>
            <InfiniButtonOutline IconName="settings" Color="Color.Blue">Something</InfiniButtonOutline>
            <InfiniButtonOutline IconName="settings" Color="Color.Purple">Something</InfiniButtonOutline>
            <InfiniButtonOutline IconName="settings" Color="Color.Pink">Something</InfiniButtonOutline>
            <InfiniButtonOutline IconName="settings" Color="Color.Gray">Something</InfiniButtonOutline>
            <InfiniButtonOutline IconName="settings" Color="Color.White">Something</InfiniButtonOutline>
            <InfiniButtonOutline IconName="settings" Color="Color.Black">Something</InfiniButtonOutline>
        </div>

        <div class="flex flex-col w-32 gap-2">
            <InfiniHeading6>Outline Solid</InfiniHeading6>
            <InfiniButtonOutlineSolid IconName="settings" Color="Color.Default">Something</InfiniButtonOutlineSolid>
            <InfiniButtonOutlineSolid IconName="settings" Color="Color.Accent">Something</InfiniButtonOutlineSolid>
            <InfiniButtonOutlineSolid IconName="settings" Color="Color.Red">Something</InfiniButtonOutlineSolid>
            <InfiniButtonOutlineSolid IconName="settings" Color="Color.Orange">Something</InfiniButtonOutlineSolid>
            <InfiniButtonOutlineSolid IconName="settings" Color="Color.Yellow">Something</InfiniButtonOutlineSolid>
            <InfiniButtonOutlineSolid IconName="settings" Color="Color.Green">Something</InfiniButtonOutlineSolid>
            <InfiniButtonOutlineSolid IconName="settings" Color="Color.Cyan">Something</InfiniButtonOutlineSolid>
            <InfiniButtonOutlineSolid IconName="settings" Color="Color.Blue">Something</InfiniButtonOutlineSolid>
            <InfiniButtonOutlineSolid IconName="settings" Color="Color.Purple">Something</InfiniButtonOutlineSolid>
            <InfiniButtonOutlineSolid IconName="settings" Color="Color.Pink">Something</InfiniButtonOutlineSolid>
            <InfiniButtonOutlineSolid IconName="settings" Color="Color.Gray">Something</InfiniButtonOutlineSolid>
            <InfiniButtonOutlineSolid IconName="settings" Color="Color.White">Something</InfiniButtonOutlineSolid>
            <InfiniButtonOutlineSolid IconName="settings" Color="Color.Black">Something</InfiniButtonOutlineSolid>
        </div>
    </div>

</InfiniSection>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
}
