@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@rendermode RenderModeProvider.InfiniRenderMode
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniSection Class="gap-4 w-full">
    <InfiniHeading3>Buttons</InfiniHeading3>
    <InfiniHeading5>Variants</InfiniHeading5>
    <div class="relative max-w-full">
        <div class="flex flex-row gap-4 overflow-x-auto infini-scrollbar w-64 sm:w-150 lg:w-full mx-auto">
            <div class="flex flex-col gap-2">
                <InfiniHeading6>Text</InfiniHeading6>
                <InfiniButton Variant="ButtonVariant.Default">Something</InfiniButton>
                <InfiniButton Variant="ButtonVariant.Primary">Something</InfiniButton>
                <InfiniButton Variant="ButtonVariant.Transparent">Something</InfiniButton>
                <InfiniButton Variant="ButtonVariant.Outline">Something</InfiniButton>
                <InfiniButton Variant="ButtonVariant.Dark">Something</InfiniButton>
                <InfiniButton Variant="ButtonVariant.Light">Something</InfiniButton>
            </div>

            <div class="flex flex-col gap-2">
                <InfiniHeading6>Icons</InfiniHeading6>
                <InfiniButton IconName="settings" Variant="ButtonVariant.Default"/>
                <InfiniButton IconName="settings" Variant="ButtonVariant.Primary"/>
                <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent"/>
                <InfiniButton IconName="settings" Variant="ButtonVariant.Outline"/>
                <InfiniButton IconName="settings" Variant="ButtonVariant.Dark"/>
                <InfiniButton IconName="settings" Variant="ButtonVariant.Light"/>
            </div>

            <div class="flex flex-col gap-2">
                <InfiniHeading6>Full</InfiniHeading6>
                <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Default">Something</InfiniButton>
                <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Primary">Something</InfiniButton>
                <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Transparent">Something</InfiniButton>
                <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Outline">Something</InfiniButton>
                <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Dark">Something</InfiniButton>
                <InfiniButton Href="/html" IconName="settings" Variant="ButtonVariant.Light">Something</InfiniButton>
            </div>

            <div class="flex flex-col gap-2">
                <InfiniHeading6>Empty</InfiniHeading6>
                <InfiniButton Variant="ButtonVariant.Default"/>
                <InfiniButton Variant="ButtonVariant.Primary"/>
                <InfiniButton Variant="ButtonVariant.Transparent"/>
                <InfiniButton Variant="ButtonVariant.Outline"/>
                <InfiniButton Variant="ButtonVariant.Dark"/>
                <InfiniButton Variant="ButtonVariant.Light"/>
            </div>

            <div class="flex flex-col gap-2">
                <InfiniHeading6>Disabled</InfiniHeading6>
                <InfiniButton IsDisabled="true" Variant="ButtonVariant.Default">Something</InfiniButton>
                <InfiniButton IsDisabled="true" IconName="settings" Variant="ButtonVariant.Default"/>
                <InfiniButton IsDisabled="true" IconName="settings" Variant="ButtonVariant.Default">Something
                </InfiniButton>
            </div>

            <div class="flex flex-col gap-2">
                <InfiniHeading6>Sizes</InfiniHeading6>
                <InfiniButton Size="Size.Xxs" IconName="settings">Something</InfiniButton>
                <InfiniButton Size="Size.Xs" IconName="settings">Something</InfiniButton>
                <InfiniButton Size="Size.S" IconName="settings">Something</InfiniButton>
                <InfiniButton Size="Size.M" IconName="settings">Something</InfiniButton>
                <InfiniButton Size="Size.L" IconName="settings">Something</InfiniButton>
                <InfiniButton Size="Size.Xl" IconName="settings">Something</InfiniButton>
                <InfiniButton Size="Size.Xxl" IconName="settings">Something</InfiniButton>
            </div>

            <div class="flex flex-col gap-2">
                <InfiniHeading6>Icons</InfiniHeading6>
                <InfiniButton Size="Size.Xxs" IconName="settings"/>
                <InfiniButton Size="Size.Xs" IconName="settings"/>
                <InfiniButton Size="Size.S" IconName="settings"/>
                <InfiniButton Size="Size.M" IconName="settings"/>
                <InfiniButton Size="Size.L" IconName="settings"/>
                <InfiniButton Size="Size.Xl" IconName="settings"/>
                <InfiniButton Size="Size.Xxl" IconName="settings"/>
            </div>
        </div>
    </div>

    <InfiniHeading5>Tooltips</InfiniHeading5>
    <div class="p-8 flex flex-col gap-8 overflow-x-auto infini-scrollbar px-2 justify-center items-center shrink-0">
        <InfiniButtonToolTipped Tooltip="Tooltip" TooltipAnchor="Anchor.Center | Anchor.Bottom">CenterBottom</InfiniButtonToolTipped>
        <InfiniButtonToolTipped Tooltip="Tooltip" TooltipAnchor="Anchor.Left | Anchor.Bottom">leftBottom</InfiniButtonToolTipped>
        <InfiniButtonToolTipped Tooltip="Tooltip" TooltipAnchor="Anchor.Right | Anchor.Bottom">RightBottom</InfiniButtonToolTipped>
        <InfiniButtonToolTipped Tooltip="Tooltip" TooltipAnchor="Anchor.Center | Anchor.Top">CenterTop</InfiniButtonToolTipped>
        <InfiniButtonToolTipped Tooltip="Tooltip" TooltipAnchor="Anchor.Left | Anchor.Top">LeftTop</InfiniButtonToolTipped>
        <InfiniButtonToolTipped Tooltip="Tooltip" TooltipAnchor="Anchor.Right | Anchor.Top">RightTop</InfiniButtonToolTipped>
        <InfiniButtonToolTipped Tooltip="Tooltip" TooltipAnchor="Anchor.Left">Left</InfiniButtonToolTipped>
        <InfiniButtonToolTipped Tooltip="Tooltip" TooltipAnchor="Anchor.Right">Right</InfiniButtonToolTipped>
    </div>

    <InfiniHeading5>Colors</InfiniHeading5>
    <div class="flex flex-row gap-4 overflow-x-auto infini-scrollbar px-2 shrink-0">
        <div class="flex flex-col w-32 gap-2">
            <InfiniHeading6>Default</InfiniHeading6>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Default" Color="Color.Default">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Default" Color="Color.Accent">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Default" Color="Color.Red">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Default" Color="Color.Orange">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Default" Color="Color.Yellow">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Default" Color="Color.Green">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Default" Color="Color.Cyan">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Default" Color="Color.Blue">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Default" Color="Color.Purple">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Default" Color="Color.Pink">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Default" Color="Color.Gray">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Default" Color="Color.White">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Default" Color="Color.Black">Something</InfiniButton>
        </div>

        <div class="flex flex-col w-32 gap-2">
            <InfiniHeading6>Primary</InfiniHeading6>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Primary" Color="Color.Default">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Primary" Color="Color.Accent">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Primary" Color="Color.Red">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Primary" Color="Color.Orange">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Primary" Color="Color.Yellow">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Primary" Color="Color.Green">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Primary" Color="Color.Cyan">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Primary" Color="Color.Blue">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Primary" Color="Color.Purple">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Primary" Color="Color.Pink">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Primary" Color="Color.Gray">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Primary" Color="Color.White">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Primary" Color="Color.Black">Something</InfiniButton>
        </div>

        <div class="flex flex-col w-32 gap-2">
            <InfiniHeading6>Transparent</InfiniHeading6>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent" Color="Color.Default">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent" Color="Color.Accent">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent" Color="Color.Red">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent" Color="Color.Orange">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent" Color="Color.Yellow">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent" Color="Color.Green">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent" Color="Color.Cyan">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent" Color="Color.Blue">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent" Color="Color.Purple">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent" Color="Color.Pink">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent" Color="Color.Gray">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent" Color="Color.White">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Transparent" Color="Color.Black">Something</InfiniButton>
        </div>

        <div class="flex flex-col w-32 gap-2">
            <InfiniHeading6>Dark</InfiniHeading6>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Dark" Color="Color.Default">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Dark" Color="Color.Accent">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Dark" Color="Color.Red">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Dark" Color="Color.Orange">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Dark" Color="Color.Yellow">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Dark" Color="Color.Green">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Dark" Color="Color.Cyan">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Dark" Color="Color.Blue">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Dark" Color="Color.Purple">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Dark" Color="Color.Pink">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Dark" Color="Color.Gray">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Dark" Color="Color.White">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Dark" Color="Color.Black">Something</InfiniButton>
        </div>

        <div class="flex flex-col w-32 gap-2">
            <InfiniHeading6>Light</InfiniHeading6>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Light" Color="Color.Default">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Light" Color="Color.Accent">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Light" Color="Color.Red">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Light" Color="Color.Orange">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Light" Color="Color.Yellow">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Light" Color="Color.Green">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Light" Color="Color.Cyan">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Light" Color="Color.Blue">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Light" Color="Color.Purple">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Light" Color="Color.Pink">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Light" Color="Color.Gray">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Light" Color="Color.White">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Light" Color="Color.Black">Something</InfiniButton>
        </div>

        <div class="flex flex-col w-32 gap-2">
            <InfiniHeading6>Outline</InfiniHeading6>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Outline" Color="Color.Default">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Outline" Color="Color.Accent">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Outline" Color="Color.Red">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Outline" Color="Color.Orange">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Outline" Color="Color.Yellow">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Outline" Color="Color.Green">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Outline" Color="Color.Cyan">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Outline" Color="Color.Blue">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Outline" Color="Color.Purple">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Outline" Color="Color.Pink">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Outline" Color="Color.Gray">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Outline" Color="Color.White">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.Outline" Color="Color.Black">Something</InfiniButton>
        </div>

        <div class="flex flex-col w-32 gap-2">
            <InfiniHeading6>Outline Solid</InfiniHeading6>
            <InfiniButton IconName="settings" Variant="ButtonVariant.OutlineSolid" Color="Color.Default">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.OutlineSolid" Color="Color.Accent">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.OutlineSolid" Color="Color.Red">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.OutlineSolid" Color="Color.Orange">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.OutlineSolid" Color="Color.Yellow">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.OutlineSolid" Color="Color.Green">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.OutlineSolid" Color="Color.Cyan">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.OutlineSolid" Color="Color.Blue">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.OutlineSolid" Color="Color.Purple">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.OutlineSolid" Color="Color.Pink">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.OutlineSolid" Color="Color.Gray">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.OutlineSolid" Color="Color.White">Something</InfiniButton>
            <InfiniButton IconName="settings" Variant="ButtonVariant.OutlineSolid" Color="Color.Black">Something</InfiniButton>
        </div>
    </div>

</InfiniSection>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
}
