@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniDialogBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniDialog>
    <InfiniSection Class="flex grow w-full border-none">
        <h1>Simple Dialog</h1>
        <h1>@guid</h1>
        <InfiniSpacer/>
        <div class="flex flex-row justify-center">
            <InfiniButton
                OnClick="@DialogContext.InvokeDialogExit" 
                Text="Exit"
            />
        </div>
    </InfiniSection>
</InfiniDialog>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private readonly Guid guid = Guid.CreateVersion7();
}