@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniBlazor
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="relative">
    <div class="@AnchorClass relative">
        @Content
    </div>
    <div class="@ConcatClasses(HiddenIfNot(ShowTooltip), Class, AnchorClasses) @ZIndex.Tooltip absolute anchored shadow-md/30">
        <div class="@TriangleClasses shadow-md/30 transform px-3 py-1 overload-bg-infini-base-90 text-infini-base-10 text-sm rounded-md transition-opacity duration-200 whitespace-nowrap pointer-events-none">
            @Tooltip
        </div>
    </div>
</div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter, EditorRequired] public required RenderFragment Content { get; set; } 
    [Parameter, EditorRequired] public required RenderFragment Tooltip { get; set; }
    [Parameter] public Anchor Anchor { get; set; } = Anchor.Center | Anchor.Bottom;
    
    [Parameter, EditorRequired] public bool ShowTooltip { get; set; }
    [Parameter] public EventCallback<bool> ShowTooltipChanged { get; set; }

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------

    private string AnchorClasses => Anchor switch {
        Anchor.CenterBottom => "anchored-bottom-center/anchor-tooltip",
        Anchor.LeftBottom => "anchored-bottom-left/anchor-tooltip",
        Anchor.RightBottom => "anchored-bottom-right/anchor-tooltip",
        Anchor.CenterTop => "anchored-top-center/anchor-tooltip",
        Anchor.LeftTop => "anchored-top-left/anchor-tooltip",
        Anchor.RightTop => "anchored-top-right/anchor-tooltip",
        Anchor.Left => "anchored-left/anchor-tooltip",
        Anchor.Right => "anchored-right/anchor-tooltip",
        _ => "anchored/anchor-tooltip"
    };

    private string TriangleClasses => Anchor switch {
        Anchor.CenterBottom => ConcatClasses(TriangleCommonClasses, "before:-top-1 before:left-1/2 before:-translate-x-1/2"),
        Anchor.CenterTop => ConcatClasses(TriangleCommonClasses, "before:-bottom-1 before:left-1/2 before:-translate-x-1/2"),
        Anchor.Left => ConcatClasses(TriangleCommonClasses, "before:-right-1 before:top-1/2 before:-translate-y-1/2"),
        Anchor.Right => ConcatClasses(TriangleCommonClasses, "before:-left-1 before:top-1/2 before:-translate-y-1/2"),
        _ => string.Empty
    };

    private const string TriangleCommonClasses = "before:content-[''] before:absolute before:w-2 before:h-2 before:rotate-45 before:overload-bg-infini-base-90";
    public const string AnchorClass = "anchor/anchor-tooltip";
}
