@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<section class="@ConcatClasses(Class, LocationClasses) flex flex-col bg-(--section) shadow-sm p-4 border-(--section-border)">
    @ChildContent
</section>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public SectionLocation EdgeStyle { get; set; } = SectionLocation.Center;

    private string LocationClasses 
        => EdgeStyle switch {
            SectionLocation.Top => "rounded-b-2xl border-l border-r border-b",
            SectionLocation.Center => "rounded-2xl border",
            SectionLocation.Bottom => "rounded-t-2xl border-l border-r border-t",
            SectionLocation.TopLeft => expr,
            SectionLocation.TopRight => expr,
            SectionLocation.Left => expr,
            SectionLocation.Right => expr,
            SectionLocation.BottomLeft => expr,
            SectionLocation.BottomRight => expr,
            _ => throw new ArgumentOutOfRangeException()
        };
}
