<!DOCTYPE html>
<html lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <ResourcePreloader/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["InfiniBlazorExample.InfiniFrame.BlazorWebView.styles.css"]"/>
    <link rel="stylesheet" href="_content/InfiniLore.InfiniBlazor/InfiniBlazor.css"/>
    <ImportMap/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
@* Do Not include the webview here as it already exists in the layer above *@
@* <script src="@Assets["_framework/blazor.webview.js"]"></script> *@

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
    window.mermaid = mermaid;
    window.mermaid.initialize({ startOnLoad: false });
</script>
<script src="_content/InfiniLore.InfiniFrame.Js/InfiniFrame.js"></script>
</body>

</html>