@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@page "/theming/table"
@rendermode InteractiveServer
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniSection >
    <h1 class="text-2xl font-bold text-(--color-text) mb-4">Theme Table</h1>
    <div class="h-4"></div>
    
    <InfiniThemeTable Class="h-128"/>
</InfiniSection>

<div class="h-8"></div>

<InfiniSection>
    <h1 class="text-2xl font-bold text-(--color-text) mb-4">Color Boxes</h1>
    <div class="h-4"></div>

    <InfiniThemeQuickBoxes/>
</InfiniSection>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
}
