@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Markdown
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@page "/markdown-dual"
@rendermode InteractiveServer
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniPage>
    <InfiniSection Class="flex flex-col h-screen">
        <InfiniHeading1>Markdown Editor Example</InfiniHeading1>
        <InfiniMarkdownEditor @bind-Source="@TextSource0"/>
        <p>
            @TextSource0.Text
        </p>
    </InfiniSection>
    
    <InfiniSection Class="flex flex-col h-screen">
        <InfiniHeading1>Markdown Editor Example</InfiniHeading1>
        <InfiniMarkdownEditor @bind-Source="@TextSource1" ShowPreview="false"/>
        
        <p>
            @TextSource1.Text
        </p>
    </InfiniSection>
</InfiniPage>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private ITextSource TextSource0 { get; set; } = new TextSource();
    private ITextSource TextSource1 { get; set; } = new TextSource();
}

