@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@page "/"
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<PageTitle>Home</PageTitle>

<InfiniPage Class="justify-center items-center">
    <InfiniSection Class="flex flex-col gap-y-4">
        <h1 class="flex flex-row w-full justify-center">Hello, world!</h1>

        This is the example project for the InfiniLore Blazor library.
    </InfiniSection>
</InfiniPage>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
