@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.Lucide

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<CascadingValue Value="IsMenuCollapsed">
    <aside class="flex-shrink-0 bg-(--color-base-90) h-full flex flex-col space-y-4">
        <div class="@(IsMenuCollapsed ? ClassClosed : ClassOpen) h-full flex flex-col transition-all duration-300">
            <!-- Top Logo and Hamburger -->
            <div class="@($"flex items-center {(IsMenuCollapsed ? "justify-center" : "justify-between")} h-12 w-full")">
                <div class="@(IsMenuCollapsed ? "hidden" : "flex-grow")">
                    @Header
                </div>

                <!-- Hamburger Menu -->
                <button
                    class="text-(--color-base-00) p-2 rounded hover:bg-(--color-base-70) hover:text-(--color-accent) focus:outline-none"
                    @onclick="ToggleMenu">
                    <LiMenu/>
                </button>
            </div>

            <!-- Navigation -->
            @if (Body is not null) {
                <div class="border-t border-(--color-base-60) flex pb-1">
                    <nav class="flex flex-col grow space-y-2 mt-4">
                        @Body
                    </nav>
                </div>
            }
            
            <!-- Profile Section -->
            @if (Footer is not null) {
                <div class="mt-auto border-t border-(--color-base-60) flex pb-1">
                    <div class="flex flex-col grow space-y-2 mt-4">
                        @Footer
                    </div>
                </div>
            }
        </div>
    </aside>
</CascadingValue>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private string ClassOpen => $"{EffectiveWidth} px-4 pt-1";
    private const string ClassClosed = "w-14 p-1";

    [Parameter] public string Width { get; set; } = "w-48";
    private string EffectiveWidth => !Width.StartsWith("w-") ? $"w-{Width}" : Width;

    [Parameter] public bool IsMenuCollapsed { get; set; }

    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }

    [Parameter] public EventCallback<bool> IsMenuCollapsedChanged { get; set; }

    private async Task ToggleMenu() {
        IsMenuCollapsed = !IsMenuCollapsed;// Toggle the collapsed state
        await IsMenuCollapsedChanged.InvokeAsync(IsMenuCollapsed);// Notify parent component about the change
        await InvokeAsync(StateHasChanged);
    }
}
