@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniBlazor
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniButtonComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<button @onclick="@OnClickAsync"
        onclick:stopPropagation="@StopPropagation"
        type="button"
        disabled="@IsDisabled"
        class="@(ConcatClasses(Class, RoundedClasses, SelectedClasses, InfiniButton.ContainerReaction)) py-0.5 px-2 inline-flex items-center justify-center transition-all duration-150 transform overflow-visible"
        >
    @ChildContent
</button>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [CascadingParameter] public bool TabsOnRight { get; set; }
    [CascadingParameter] public Orientation Orientation { get; set; }
    [Parameter] public bool IsSelected { get; set; }

    private string RoundedClasses => (Orientation, TabsOnRight) switch {
        (Orientation.Horizontal, _) => "rounded-t-md",
        (Orientation.Vertical, false) => "rounded-l-md",
        (Orientation.Vertical, true) => "rounded-r-md",
        _ => throw new ArgumentOutOfRangeException()
    };

    private string SelectedClasses => IsSelected
        ? InfiniButton.DefaultCssClasses
        : "overload-bg-infini-base-50 text-infini-base-05 hover:text-infini-button-default-text-hover hover:overload-bg-infini-base-60";
}
