@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.Lucide

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div>
    <LucideIcon Name="@IconName"/>
    <div>
        <InfiniTextInput @bind-Value="Key"></InfiniTextInput>
    </div>
    <div>
        <InfiniTextInput @bind-Value="Value"></InfiniTextInput>
    </div>   
</div>


@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [EditorRequired, Parameter] public string Key { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> KeyChanged { get; set; }
    
    [Parameter] public string? Value { get; set; } 
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }
    
    [Parameter] public string IconName { get; set; } = DefaultIconName;
    public const string DefaultIconName = LucideNames.ChevronRight;
}