@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.AutoDocumenting

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inject IAutoDocumenter AutoDocumenter
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="flex flex-col gap-2">
    <!-- Render dynamically generated code -->
    <div>
        <InfiniCodeBlock Content="@GetSource()" Language="razor"/>
    </div>

    <!-- Render actual child content -->
    <div>
        @ChildContent
    </div>
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    private string GetSource() {
        if (ChildContent == null) return string.Empty;

        // Delegate processing to the injected service
        return AutoDocumenter.ConvertToString(ChildContent);
    }
}