@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@page "/callout"
@rendermode InfiniRenderModeProvider.InfiniRenderMode
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniPage Title="Table Example" Class="p-4">
    <InfiniSection Class="w-full">
        <InfiniHeading1>Callout Example</InfiniHeading1>
        
        <div class="flex w-full justify-center">
            <div class="flex w-1/2 flex-col">
                
                <InfiniHeading3>Simple Callout</InfiniHeading3>
                <InfiniCallout AllowCollapsing>
                    <Title>This is a title</Title>
                    <Content>This is a body</Content>
                </InfiniCallout>
                
                <InfiniSpacerVertical Spacing="Size.L"/>
                
                <InfiniHeading3>Callout With deeper content</InfiniHeading3>
                <InfiniCallout AllowCollapsing>
                    <Title>This is a title</Title>
                    <Content>
                        The following is a piece of code:
                        <InfiniCodeBlock Content="Some Code"/>
                    </Content>
                </InfiniCallout>
                
                
                <InfiniSpacerVertical Spacing="Size.L"/>
                
                <InfiniHeading3>Callout within callout</InfiniHeading3>
                <InfiniCallout AllowCollapsing>
                    <Title>This is a title</Title>
                    <Content>
                        <InfiniCallout AllowCollapsing>
                            <Title>This is a title</Title>
                            <Content>
                                <InfiniCallout AllowCollapsing>
                                    <Title>This is a title</Title>
                                    <Content>
                                        <InfiniCallout AllowCollapsing>
                                            <Title>This is a title</Title>
                                            <Content>

                                            </Content>
                                        </InfiniCallout>
                                    </Content>
                                </InfiniCallout>
                            </Content>
                        </InfiniCallout>
                    </Content>
                </InfiniCallout>
            </div>      
        </div>
    </InfiniSection>
</InfiniPage>


@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    
}