@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@page "/sections"
@using global::InfiniBlazor
@using global::InfiniBlazor.Components
@rendermode InfiniRenderModeProvider.InfiniRenderMode
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniPage Title="Sections">
    <div class="grid grid-cols-3 grid-rows-3 gap-4 w-full h-full">
        <div>
            <InfiniSection Class="w-full h-full justify-center items-center" Location="SectionLocation.TopLeft">
                <InfiniHeading5 Class="text-infini-base-50"> Edge Style : TopLeft</InfiniHeading5>
            </InfiniSection>
        </div>
        <div>
            <InfiniSection Class="w-full h-full justify-center items-center" Location="SectionLocation.Top">
                <InfiniHeading5 Class="text-infini-base-50"> Edge Style : Top</InfiniHeading5>
            </InfiniSection>
        </div>
        <div>
            <InfiniSection Class="w-full h-full justify-center items-center" Location="SectionLocation.TopRight">
                <InfiniHeading5 Class="text-infini-base-50"> Edge Style : TopRight</InfiniHeading5>
            </InfiniSection>
        </div>
        <div>
            <InfiniSection Class="w-full h-full justify-center items-center" Location="SectionLocation.Left">
                <InfiniHeading5 Class="text-infini-base-50"> Edge Style : Left</InfiniHeading5>
            </InfiniSection>
        </div>
        <div>
            <InfiniSection Class="w-full h-full justify-center items-center" Location="SectionLocation.Center">
                <InfiniHeading5 Class="text-infini-base-50"> Edge Style : Center</InfiniHeading5>
            </InfiniSection>
        </div>
        <div>
            <InfiniSection Class="w-full h-full justify-center items-center" Location="SectionLocation.Right">
                <InfiniHeading5 Class="text-infini-base-50"> Edge Style : Right</InfiniHeading5>
            </InfiniSection>
        </div>
        <div>
            <InfiniSection Class="w-full h-full justify-center items-center" Location="SectionLocation.BottomLeft">
                <InfiniHeading5 Class="text-infini-base-50"> Edge Style : BottomLeft</InfiniHeading5>
            </InfiniSection>
        </div>
        <div>
            <InfiniSection Class="w-full h-full justify-center items-center" Location="SectionLocation.Bottom">
                <InfiniHeading5 Class="text-infini-base-50"> Edge Style : Bottom</InfiniHeading5>
            </InfiniSection>
        </div>
        <div>
            <InfiniSection Class="w-full h-full justify-center items-center" Location="SectionLocation.BottomRight">
                <InfiniHeading5 Class="text-infini-base-50"> Edge Style : BottomRight</InfiniHeading5>
            </InfiniSection>
        </div>
    </div>


</InfiniPage>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
}
