@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Toasting
@using InfiniLore.Lucide

@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div
    role="alert"
    class="@Message.Appearance.TailwindData p-2 rounded-lg flex items-center transition duration-300 ease-in-out transform hover:scale-105 space-x-2"
>
    <LucideIcon Name="@Message.Appearance.IconName"></LucideIcon>
    <p class="text-xs font-semibold">@Message.Title</p>
</div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter, EditorRequired] public required IToastMessage Message { get; set; } = null!;
}