@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@page "/example/tabs"
@rendermode RenderModeProvider.InfiniRenderMode
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniPage Title="Tabs" Class="p-4">
    <InfiniSection Class="gap-4 w-full h-full">
        <InfiniTabContainer>
            <InfiniTabContent TabName="Something">
                <p>something bla bla bla</p>
            </InfiniTabContent>
            <InfiniTabContent TabName="Else">
                <p>else bla bla bla</p>
            </InfiniTabContent>
        </InfiniTabContainer>
    </InfiniSection>
</InfiniPage>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
}