@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using Microsoft.AspNetCore.Components.Forms

@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="flex items-center gap-x-2">
    <input type="text"
           value="@Value"
           @oninput="OnInputHandler"
           @onchange="OnChange"
           placeholder="@Placeholder"
           class="@Class w-full placeholder-(--color-base-50) bg-(--color-base-70) rounded-md border border-(--border-color) focus:ring-2 outline-none hover:ring-2 ring-(--color-accent) text-sm p-2 shadow-sm transition"/>

    @if (Submit is not null) {
        @Submit
    }
</div>


@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter,EditorRequired] public string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }
    [Parameter] public EventCallback<ChangeEventArgs> OnChange { get; set; }
    [Parameter] public string Placeholder { get; set; } = string.Empty;
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? Submit { get; set; }

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnInputHandler(ChangeEventArgs args) {
        if (args.Value is string value) {
            await ValueChanged.InvokeAsync(value);
        }
    }
}