@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.JsRuntime
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniNavBase
@inject IJsRuntimeHelper JsRuntime
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div
    @ref="@Reference"
    @onwheel="OnWheelAsync"
    class="@ConcatClasses(NavLocationClasses, HeightClasses) flex w-full overflow-x-auto whitespace-nowrap infini-bg-(--sidebar-nav) border-(--sidebar-nav-border) text-white infini-scrollbar-hidden">
    @ChildContent
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private ElementReference Reference { get; set; }

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnWheelAsync(WheelEventArgs obj) {
        if (obj.DeltaY == 0) return;
        await JsRuntime.AddHorizontalScroll(Reference, obj.DeltaY);
    }
    
    private string HeightClasses => Size switch {
        Size.Xxs => "h-6 min-h-6",
        Size.Xs => "h-8 min-h-8",
        Size.S => "h-10 min-h-10",
        Size.M => "h-12 min-h-12",
        Size.L => "h-16 min-h-16",
        Size.Xl => "h-18 min-h-18",
        Size.Xxl => "h-24 min-h-24",
        _ => throw new ArgumentOutOfRangeException(nameof(Size), Size, null)
    };
}