@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@Class flex justify-between items-stretch bg-(--editor-header) border-x border-t border-(--editor-header-border) px-4 py-2 overflow-auto gap-2 rounded-tl-lg rounded-tr-lg infini-scrollbar">
    @ToolbarButtons
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public RenderFragment? ToolbarButtons { get; set; }
    [Parameter] public string? Class { get; set; }
}
