@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Components.Tags

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniHrefContentComponentBase

@inject ITagLinkProvider TagLinkProvider
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
@if (TryAssignValidHref()) {
    <a href="@ComputedHref" class="@BaseCss cursor-pointer">
        @GetContentFragment
    </a>
}
else {
    <span class="@BaseCss">
        @GetContentFragment
    </span>   
}

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [EditorRequired, Parameter] public string Content { get; set; } = string.Empty;
    [Parameter] public string? HrefOverload { get; set; }
    
    [CascadingParameter] public ITagLinkContext? TagLinkContext { get; set; }

    private const string BaseCss = "inline-block px-2 py-0.5 rounded-full leading-4 overload-bg-infini-base-90 text-infini-accent";

    // ReSharper disable once UnusedParameter.Local
    private RenderFragment GetContentFragment => __builder => {
        if (TagLinkContext?.IsRenderedMarkdownComponent ?? false) {
            <span>#</span>
        }
        @Content
    };
    
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private bool TryAssignValidHref() {
        string? href;
        
        // ReSharper disable once InvertIf
        if (HrefOverload.IsNotNullOrWhiteSpace()) href = HrefOverload; 
        else if (!TagLinkProvider.TryGetLink(Content, out href)) return false;

        Href = href;
        HrefChanged();
        return true ;
    }
}