@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
@if (Href.IsNotNullOrWhiteSpace()) {
    <a href="@Href" class="inline-block cursor-pointer px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 infini-bg-(--color-base-90) text-(--color-accent)">
        @ChildContent
    </a>
}

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public string? Href { get; set; }
}