@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@page "/example/autodocument"

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniPage Title="AutoDocument" Class="p-4">
    <InfiniSection Class="gap-4 w-full h-full">
        <InfiniHeading3>AutoDocument Test</InfiniHeading3>
        @* <AutoDocument> *@
            @* <InfiniButton>Something</InfiniButton> *@
        @* </AutoDocument> *@
        
        @* <AutoDocument> *@
            @* <InfiniButton IsDisabled>Something</InfiniButton> *@
        @* </AutoDocument>  *@
        
        <AutoDocument>
            <p>Something</p>
            <p>Something</p>
        </AutoDocument>
    </InfiniSection>
</InfiniPage>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    
}