@* AUTO DOC ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor
@using InfiniLore.InfiniBlazor.AutoDocumentation

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@page "/example/autodocument"

@rendermode RenderModeProvider.InfiniRenderMode
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniPage Title="AutoDocument" Class="p-4">
    <InfiniSection Class="gap-4 w-full h-full">
        <InfiniHeading3>AutoDocument Test</InfiniHeading3>
        <InfiniAutoDocument Id="something">
            <InfiniButton>Something</InfiniButton>
        </InfiniAutoDocument>
        
        <InfiniAutoDocument Id="else">
            <InfiniButton IsDisabled OnClick="@DoSomething">Something</InfiniButton>
        </InfiniAutoDocument>
        
        <InfiniAutoDocument Id="test">
            <p>Something</p>
            <p>Something</p>
        </InfiniAutoDocument>
        
        <InfiniAutoDocument Id="beta">
            <p>Something</p>
            <p>Something</p>
        </InfiniAutoDocument>
        
    </InfiniSection>
</InfiniPage>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [AutoDocument("test")] private static void DoSomethingTest(MouseEventArgs obj) {
        throw new NotImplementedException();
    }
}
